<!-- 
	Desc: 	后台用户的新增界面
	Author: xiaocheng
	Date: 	2017年05月09日 16:43:46
-->

<!-- UI界面 start -->
<div id="misUserAddView">
    <el-row>
        <h3><i class="el-icon-edit"></i> <a href="#/misUser">后台用户管理</a> / 新增</h3>
    </el-row>
    <!--编辑界面-->
    <el-row type="flex" justify="center">
        <el-col :span="22">
            <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
				<!--id不需要-->
                <el-form-item label="真实姓名" prop="name">
                    <el-input v-model="editForm.name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="用户名" prop="username">
                    <el-input v-model="editForm.username" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input type="password" v-model="editForm.password" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="手机" prop="phone">
                    <el-input v-model="editForm.phone" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="用户状态" prop="status">
                    <el-select v-model="editForm.status" placeholder="请选择">
                        <el-option
                                v-for="item in misUserStatus"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="昵称" prop="nickName">
                    <el-input v-model="editForm.nickName" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="邮箱" prop="email">
                    <el-input v-model="editForm.email" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="头像" prop="icon">
                    <el-upload
                            class="avatar-uploader"
                            action="/api/uploadFile.do"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="editForm.icon" :src="editForm.icon" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
                <el-form-item label="用户角色" prop="roleId">
                    <el-select v-model="editForm.roleId" placeholder="请选择">
                        <el-option
                                v-for="item in userRoles"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
				<el-form-item label="性别">
                    <el-radio-group v-model="editForm.sex">
                        <el-radio-button label="1">男</el-radio-button>
                        <el-radio-button label="2">女</el-radio-button>
                    </el-radio-group>
                </el-form-item>
				<el-form-item label="是否超级管理员">
                    <el-radio-group v-model="editForm.superAdmin">
                        <el-radio class="radio" :label="true">是</el-radio>
                        <el-radio class="radio" :label="false">否</el-radio>
                    </el-radio-group>
                </el-form-item>
				<el-form-item label="排序">
                    <el-input-number v-model="editForm.orderValue" :min="0"></el-input-number>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>

    <el-row type="flex" justify="center">
        <el-col :span="6">
            <el-button @click="editFormCancel">取消</el-button>
            <el-button type="primary" @click="editSubmit('editForm')" :loading="editLoading">提交</el-button>
        </el-col>
    </el-row>

</div>
<!-- UI界面 end -->

<script type="text/javascript">
    $.getScript('/res/js/mis/misUser/misUserForm.js', function () {
        //清空参数
        pageParam = Object.assign({}, {});

        var misUserAddView = new Vue({
            el: '#misUserAddView',
            data: MisUserFromCommon.data,
            //数据初始化
            created: function () {
                var _self = this;
                //获取下拉框选项
                MisUserFromCommon.loadSelect(_self);
                _self.editForm = Object.assign({}, MisUserFromCommon.defaultModel);
            },
            methods: {
                //保存事件
                editSubmit: function (formName) {
                    var _self = this;
                    _self.$refs[formName].validate(function(valid){
                        if (valid) {
                            MisUserFromCommon.saveAction(_self);
                        } else{
                            _self.$message.error("请正确填写表单！");
                        }
                    });
                },
                //取消事件
                editFormCancel: function () {
                    MisUserFromCommon.cancelAction();
                },
                //上传图片成功的回调事件
                handleAvatarSuccess:function(res, file) {
                    var _self = this;
                    _self.editForm.icon = commonUtils.uploadImageSuccess(res, file, _self);
                },
                //上传图片前的验证事件
                beforeAvatarUpload:function(file) {
                    var _self = this;
                    commonUtils.uploadImageCheck(file, _self);
                }
            }
        });
    });
</script>
