<!-- 
	Desc: 	关联文章表的新增界面
	Author: xiaocheng
	Date: 	2017年07月01日 18:04:16
-->

<!-- UI界面 start -->
<div id="cmsArticleRefAddView">
    <el-row>
        <h3><i class="el-icon-edit"></i> <a href="#/cmsArticleRef">关联文章表管理</a> / 新增</h3>
    </el-row>
    <!--编辑界面-->
    <el-row type="flex" justify="center">
        <el-col :span="22">
            <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
				<!--id不需要-->
				<el-form-item label="文章Id">
                    <el-input-number v-model="editForm.articleId" :min="0"></el-input-number>
                </el-form-item>
				<el-form-item label="关联文章Id">
                    <el-input-number v-model="editForm.refArticleId" :min="0"></el-input-number>
                </el-form-item>
                <!--TODO:待修改-->
                <!--<el-form-item label="状态">
                    <el-select v-model="editForm.status" placeholder="请选择">
                        <el-option
                                v-for="item in cmsArticleRefStatus"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>-->
            </el-form>
        </el-col>
    </el-row>

    <el-row type="flex" justify="center">
        <el-col :span="6">
            <el-button @click="editFormCancel">取消</el-button>
            <el-button type="primary" @click="editSubmit('editForm')" :loading="editLoading">提交</el-button>
        </el-col>
    </el-row>

</div>
<!-- UI界面 end -->

<script type="text/javascript">
    $.getScript('/res/js/mis/cms/cmsArticleRef/cmsArticleRefForm.js', function () {
        //清空参数
        pageParam = Object.assign({}, {});

        var cmsArticleRefAddView = new Vue({
            el: '#cmsArticleRefAddView',
            data: CmsArticleRefFromCommon.data,
            //数据初始化
            created: function () {
                var _self = this;
                //获取下拉框选项
                CmsArticleRefFromCommon.loadSelect(_self);
                _self.editForm = Object.assign({}, CmsArticleRefFromCommon.defaultModel);
            },
            methods: {
                //是否具有权限
                hasRight: function(rightCode) {
                    commonUtils.hasRight(rightCode);
                },
                //保存事件
                editSubmit: function (formName) {
                    var _self = this;
                    _self.$refs[formName].validate(function(valid){
                        if (valid) {
                            CmsArticleRefFromCommon.saveAction(_self);
                        } else{
                            _self.$message.error("请正确填写表单！");
                        }
                    });
                },
                //取消事件
                editFormCancel: function () {
                    CmsArticleRefFromCommon.cancelAction();
                },
                //上传图片前的验证事件
                beforeAvatarUpload:function(file) {
                    var _self = this;
                    commonUtils.uploadImageCheck(file, _self);
                }
            }
        });
    });
</script>
