<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1200">
    <link rel="shortcut icon" type="image/x-icon" href="{{resSite}}/img/wtj/wtj_logo_s.ico" media="screen"/>
    {{set tdk = commonData.spaceMap[commonData.treeMap.TDK.keyword].elements[0]}}
    <title>{{block 'title'}}{{tdk.name}}{{/block}}</title>
    <meta name="description" content="{{block 'description'}}{{tdk.title}}{{/block}}"/>
    <meta name="keywords" content="{{block 'keywords'}}{{tdk.subTitle}}{{/block}}"/>

    <script type="text/javascript" src="{{resSite}}/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="{{resSite}}/js/jquery.cookie.js"></script>
    <script type="text/javascript">
        var resVersion = '20171027';
        var dynSite = '{{dynSite}}';
    </script>
    <script type="text/javascript" src="{{resSite}}/js/wtj/common.js"></script>
    <link rel="stylesheet" type="text/css" href="{{resSite}}/css/wtj/base.css"/>
    {{block 'head'}}{{/block}}
</head>
<body>
<!-- 页头 start -->
<div class="clearfix wtj-head  wtj-commodity-head">
    <div class="menu menu2016 fl">
        <a href="/" class="wtj-logo-text fl">
            艺考招生信息网
        </a>
        <div class="menu-nav fl">
            <ul>
                {{each commonData.spaceMap[commonData.treeMap.headerLink.keyword].elements link}}
                <li><a href="{{link.adsUrl}}">{{link.title}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<!-- 页头 end   -->

<!-- 内容 start  -->
{{block 'content'}}{{/block}}
<!-- 内容 end  -->

<!-- 页尾 start -->
<div class="wtj-floatingmenu">
    <ul>
        <li>
            <a href="javascript:;" class="floatingmenu-ico1"></a>
            <div class="qrcode-floatingmenu">
                {{each commonData.spaceMap[commonData.treeMap.QRCode.keyword].elements link}}
                <img src="{{link.adsImg | showImg}}" width="130" heigh="130" alt="{{link.title}}" >
                <p>关注</p>
                <p>{{link.title}}</p>
                {{/each}}
            </div>
        </li>
        <li>
            <a href="javascript:;" class="floatingmenu-ico3 floatingmenu-ico3-l2"></a>
            <div class="view-floatingmenu">
                <a  href="javascript:;" class="close-view"></a>
                <div class="view-box" >
                    <form action="{{dynSite}}/api/edu/advice.do" id="adviceFormId" method="post">
                        <div class="row-view">
                            <label>提议与建议</label>
                            <textarea name="content" cols="" rows="" placeholder="感谢您对我们的支持与关注，您的宝贵意见有助于我们不断改进"></textarea>
                        </div>
                        <div class="row-view">
                            <label>请输入您的手机号</label>
                            <input name="phone" type="text" placeholder="填不填随你">
                        </div>
                        <div class="btn-sbm-div"><a href="javascript:;" class="btn-sbm">提交</a></div>
                    </form>
                </div>
            </div>
            <div class="succ-view">
                <div  class="succ-view-box">
                    <i></i>
                    <p>提交成功！</p>
                </div>
                <span></span>
            </div>
        </li>
        <li>
            <a href="javascript:;" class="floatingmenu-ico2"></a>
        </li>
    </ul>
</div>
<div class="clearfix wtj-footer">
    <div class="w1200 footer-main">
        <div class="f-company">
            <!--{{each commonData.spaceMap[commonData.treeMap.footerLogo.keyword].elements link}}
            <img src="{{link.adsImg | showImg}}" width="114" heigh="52" alt="{{link.title}}"  />
            {{/each}}-->
            <span class="wtj-logo-text fl">
                艺考招生信息网
            </span>
            {{each commonData.spaceMap[commonData.treeMap.copyright.keyword].elements link}}
            <p class="record-company">{{link.title}}</p>
            <p>{{link.subTitle}}</p>
            {{/each}}
        </div>
        <div class="f-company-link">
            {{each commonData.treeMap.footer.subList footer}}
            <div class="about-us">
                <span>{{commonData.spaceMap[footer.keyword + '/title'].elements[0].name}}</span>
                <ul class="about-us-ul">
                    {{each commonData.spaceMap[footer.keyword + '/link'].elements link}}
                    <li><a href="{{link.adsUrl}}" rel="nofollow">{{link.title}}</a></li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
            <div class="qrcode">
                {{each commonData.spaceMap[commonData.treeMap.QRCode.keyword].elements link}}
                <img src="{{link.adsImg | showImg}}" width="130" heigh="130" alt="{{link.title}}" />
                <p>{{link.title}}</p>
                {{/each}}
            </div>
        </div>
    </div>
    <div class=" w1200 clearfix links">
        <div class="links-l">
            <a href="javascript:;" class="left" rel="nofollow">友情链接：</a>
            <div class="links-centent">
                {{each commonData.spaceMap[commonData.treeMap.friendlyLink.keyword].elements link}}
                    <a href="{{link.adsUrl}}" target="_blank" title="{{link.title}}">{{link.title}}</a>
                {{/each}}
            </div>
        </div>
        <div class="move-link"><a href="javascript:;"><i></i></a></div>
    </div>
</div>
<!-- 页尾 end   -->
<script type="text/javascript" src="{{resSite}}/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="{{resSite}}/js/jquery.SuperSlide.2.1.1.js"></script>
<!-- 自定义JS  start -->
{{block 'foot'}}{{/block}}
<!-- 自定义JS  end  -->

<!-- 百度统计   -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?0649bed0f7da2ea19ba256c97159694b";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

{{if apiUseTime}}
<!-- apiUseTime = {{apiUseTime}} ms -->
{{/if}}
</body>
</html>