<!-- 
	Desc: 	通用操作日志的新增界面
	Author: xiaocheng
	Date: 	2018年01月23日 15:11:25
-->

<!-- UI界面 start -->
<div id="sysLogsAddView">
    <el-row>
        <h3><i class="el-icon-edit"></i> <a href="#/sysLogs">通用操作日志管理</a> / 新增</h3>
    </el-row>
    <!--编辑界面-->
    <el-row type="flex" justify="center">
        <el-col :span="22">
            <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
				<!--id不需要-->
				<el-form-item label="目标ID">
                    <el-input-number v-model="editForm.targetId" :min="0"></el-input-number>
                </el-form-item>
                <el-form-item label="目标类型" prop="targetType">
                    <el-input v-model="editForm.targetType" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="操作类型" prop="operateType">
                    <el-input v-model="editForm.operateType" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="操作描述" prop="operateIntro">
                    <el-input v-model="editForm.operateIntro" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="操作备注" prop="operateRemark">
                    <el-input v-model="editForm.operateRemark" auto-complete="off"></el-input>
                </el-form-item>
				<el-form-item label="操作时间">
                    <el-date-picker type="datetime" placeholder="选择日期和时间"
                                    v-model="editForm.operateTime"></el-date-picker>
                </el-form-item>
				<el-form-item label="操作用户">
                    <el-input-number v-model="editForm.operateUserId" :min="0"></el-input-number>
                </el-form-item>
                <!--TODO:待修改-->
                <!--<el-form-item label="状态">
                    <el-select v-model="editForm.status" clearable placeholder="请选择">
                        <el-option
                                v-for="item in sysLogsStatus"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>-->
            </el-form>
        </el-col>
    </el-row>

    <el-row type="flex" justify="center">
        <el-col :span="6">
            <el-button @click="editFormCancel">取消</el-button>
            <el-button type="primary" @click="editSubmit('editForm')" :loading="editLoading">提交</el-button>
        </el-col>
    </el-row>

</div>
<!-- UI界面 end -->

<script type="text/javascript">
    $.getScript('/res/js/mis/sys/sysLogs/sysLogsForm.js', function () {
        //清空参数
        pageParam = Object.assign({}, {});

        var sysLogsAddView = new Vue({
            el: '#sysLogsAddView',
            data: SysLogsFromCommon.data,
            //数据初始化
            created: function () {
                var _self = this;
                //获取下拉框选项
                SysLogsFromCommon.loadSelect(_self);
                _self.editForm = Object.assign({}, SysLogsFromCommon.defaultModel);
            },
            methods: {
                //是否具有权限
                hasRight: function(rightCode) {
                    return commonUtils.hasRight(rightCode);
                },
                //保存事件
                editSubmit: function (formName) {
                    var _self = this;
                    _self.$refs[formName].validate(function(valid){
                        if (valid) {
                            SysLogsFromCommon.saveAction(_self);
                        } else{
                            _self.$message.error("请正确填写表单！");
                        }
                    });
                },
                //取消事件
                editFormCancel: function () {
                    SysLogsFromCommon.cancelAction(this);
                },
                //上传图片前的验证事件
                beforeAvatarUpload:function(file) {
                    var _self = this;
                    commonUtils.uploadImageCheck(file, _self);
                }
            }
        });
    });
</script>
