{{extend '../layout/mipH5.html'}}

{{block 'title'}}{{articleData.article.title}}{{/block}}
{{block 'description'}}乌托家，一个家居O2O电商平台。我们致力于和用户一起打造一个理想的家、一种自己想要的生活方式。{{/block}}
{{block 'keywords'}}家居,家居网,家居官网,家居商城,乌托家,乌托家家居商城官网,电商平台,家居电商,家居电商平台,家居o2o{{/block}}

{{block 'content'}}
<div class="w92 classfy textC font32">
    <span>{{articleData.article.title}}</span>
</div>
<div class="textC grey font12">{{articleData.article.createTime}}</div>
<p class="blank"></p>
<div class="textC grey font12">
    文章作者：{{articleData.article.authorName}}
</div>
<p class="blank"></p>
<div class="grey w92">导语：{{articleData.article.intro}}</div>
<p class="blank"></p>
<div class="product-des">
{{articleData.content.content | showMip}}
</div>

{{if articleData.tagsList && articleData.tagsList.length > 0}}
<h3 class="product-tit">相关专题</h3>
<ul class="w92 res topics">
    <li>
        <div class="detail">
            {{each articleData.tagsList tags}}
            <a class="font14" href="{{tagsUrl}}/{{tags.id}}/" title="{{tags.name}}">{{tags.name}}</a>
            {{/each}}
        </div>
    </li>
</ul>
{{/if}}

{{if articleData.refArticles && articleData.refArticles.length > 0}}
<h3 class="product-tit">相关文章</h3>
<ul class="articles">
    {{each articleData.refArticles article}}
    <li>
        <a href="{{articleUrl}}/{{article.id}}.html" title="{{article.title}}">
            <div>
                <mip-img
                        layout="responsive"
                        width="414"
                        height="320"
                        src="{{article.coverImg | showImg}}">
                </mip-img>
            </div>
            <div class="w92 artCont">
                <h2 class="font32 ellipsis">{{article.title}}</h2>
                <p class="h50">{{article.intro}}</p>
                <p>{{article.createTime}}</p>
            </div>
        </a>
    </li>
    {{/each}}
</ul>
{{/if}}
<h3 class="product-tit">推荐文章</h3>
<ul class="articles">
    {{each randomArticles article}}
    <li>
        <a href="{{articleUrl}}/{{article.id}}.html" title="{{article.title}}">
            <div>
                <mip-img
                        layout="responsive"
                        width="414"
                        height="320"
                        src="{{article.coverImg | showImg}}">
                </mip-img>
            </div>
            <div class="w92 artCont">
                <h2 class="font32 ellipsis">{{article.title}}</h2>
                <p class="h50">{{article.intro}}</p>
                <p>{{article.createTime}}</p>
            </div>
        </a>
    </li>
    {{/each}}
</ul>

{{/block}}