{{extend '../layout/mipH5.html'}}

{{block 'title'}}首页{{/block}}
{{block 'description'}}乌托家，一个家居O2O电商平台。我们致力于和用户一起打造一个理想的家、一种自己想要的生活方式。{{/block}}
{{block 'keywords'}}家居,家居网,家居官网,家居商城,乌托家,乌托家家居商城官网,电商平台,家居电商,家居电商平台,家居o2o{{/block}}

{{block 'content'}}
<mip-carousel
        autoplay
        defer="1000"
        layout="responsive"
        width="600"
        height="400"
        indicator
        buttonController
        >
    <mip-img
            src="https://www.mipengine.org/static/img/sample_01.jpg">
    </mip-img>
    <mip-img
            src="https://www.mipengine.org/static/img/sample_02.jpg">
    </mip-img>
    <mip-img
            src="https://www.mipengine.org/static/img/sample_03.jpg">
    </mip-img>
</mip-carousel>

<div class="w92 classfy textC font32 black">
    <span>推荐学校</span>
    <a class="bg" href="http://m.wutuojia.com/brand/"></a>
</div>
<div class="product w92">
    <a class="font14" href="http://m.wutuojia.com/item/438.html" title="卓玛印象puzzle cabinet北欧风格优质中纤板白色组合柜">
        <div class="figuerImg picWrop">
            <mip-img
                    layout="responsive"
                    width="175"
                    height="175"
                    src="http://img2.wutuojia.com/pic/middle/product/t33/b42/20150908/173526_163109.png">
            </mip-img>
            <span></span>
        </div>
        <p class="ellipsis black">北京大学</p>
        <div class="ellipsis">学费：10000-20000元/年</div>
        <div class="ellipsis">去年分数线：724</div>
        <div class="ellipsis">计划招生人数：724</div>
        <div class="ellipsis">实际招生人数：724</div>
    </a>
    <a class="font14" href="http://m.wutuojia.com/item/1815.html" title="匹美北欧宜家白蜡木咖啡色茶几">
        <div class="figuerImg picWrop">
            <mip-img
                    layout="responsive"
                    width="175"
                    height="175"
                    src="http://img1.wutuojia.com/pic/middle/product/t52/b112/20151123/100825_396572.png">
            </mip-img>
            <span></span>
        </div>
        <p class="ellipsis black">北京大学</p>
        <div class="ellipsis">学费：10000-20000元/年</div>
        <div class="ellipsis">去年分数线：724</div>
        <div class="ellipsis">计划招生人数：724</div>
        <div class="ellipsis">实际招生人数：724</div>
    </a>
    <a class="font14" href="http://m.wutuojia.com/item/8781.html" title="斯品北欧宜家中密度纤维板亚光白色书桌">
        <div class="figuerImg picWrop">
            <mip-img
                    layout="responsive"
                    width="175"
                    height="175"
                    src="http://img2.wutuojia.com/pic/middle/product/t107/b389/20160721/112909_743208.png">
            </mip-img>
            <span></span>
        </div>
        <p class="ellipsis black">北京大学</p>
        <div class="ellipsis">学费：10000-20000元/年</div>
        <div class="ellipsis">去年分数线：724</div>
        <div class="ellipsis">计划招生人数：724</div>
        <div class="ellipsis">实际招生人数：724</div>
    </a>
    <a class="font14" href="http://m.wutuojia.com/item/9149.html" title="LOTOTO日式风格陶瓷白色圆餐盘">
        <div class="figuerImg picWrop">
            <mip-img
                    layout="responsive"
                    width="175"
                    height="175"
                    src="http://img1.wutuojia.com/pic/middle/product/t132/b406/20160816/150259_806788.png">
            </mip-img>
            <span></span>
        </div>
        <p class="ellipsis black">北京大学</p>
        <div class="ellipsis">学费：10000-20000元/年</div>
        <div class="ellipsis">去年分数线：724</div>
        <div class="ellipsis">计划招生人数：724</div>
        <div class="ellipsis">实际招生人数：724</div>
    </a>
    <a class="font14" href="http://m.wutuojia.com/item/885.html" title="西贝斯北欧风格红色绒布休闲椅">
        <div class="figuerImg picWrop">
            <mip-img
                    layout="responsive"
                    width="175"
                    height="175"
                    src="http://img2.wutuojia.com/pic/middle/product/t98/b64/20150930/214553_618188.png">
            </mip-img>
            <span></span>
        </div>
        <p class="ellipsis black">北京大学</p>
        <div class="ellipsis">学费：10000-20000元/年</div>
        <div class="ellipsis">去年分数线：724</div>
        <div class="ellipsis">计划招生人数：724</div>
        <div class="ellipsis">实际招生人数：724</div>
    </a>
    <a class="font14" href="http://m.wutuojia.com/item/1755.html" title="匹美北欧宜家水曲柳原木色餐椅">
        <div class="figuerImg picWrop">
            <mip-img
                    layout="responsive"
                    width="175"
                    height="175"
                    src="http://img1.wutuojia.com/pic/middle/product/t104/b112/20151119/100019_230606.png">
            </mip-img>
            <span></span>
        </div>
        <p class="ellipsis black">北京大学</p>
        <div class="ellipsis">学费：10000-20000元/年</div>
        <div class="ellipsis">去年分数线：724</div>
        <div class="ellipsis">计划招生人数：724</div>
        <div class="ellipsis">实际招生人数：724</div>
    </a>
</div>
<div class="w92 classfy textC font32 black">
    <span>报考指南</span>
    <a class="bg" href="http://m.wutuojia.com/brand/"></a>
</div>
<ul class="list textC">
    <li>
        <div class="wtj-pic">
            <a href="http://m.wutuojia.com/idea/P465.html" title="不一样的儿童房装饰，不一样的童年">
                <div>
                    <mip-img
                            layout="responsive"
                            width="412"
                            height="412"
                            src="http://img2.wutuojia.com/pic/sq_middle/item/image/20180327/101721_57127.png">
                    </mip-img>
                </div>
            </a>
        </div>
        <div class="w92">
            <a href="http://m.wutuojia.com/idea/712.html" title="不一样的儿童房装饰，不一样的童年">
                <p class="wtj-title font32 black ellipsis">不一样的儿童房装饰，不一样的童年</p>
                <p class="description h50 w92 textL">如果你家的儿童房比较简洁、单调，不妨再加入一点抽象的元素、一点个性化的元素、一点可爱的元素、又或者是一点活泼的元素来进行装饰，给孩子一个不一样的童年吧。</p>
            </a>
        </div>
    </li>
    <li>
        <div class="wtj-pic">
            <a href="http://m.wutuojia.com/idea/P464.html" title="混搭出高品质">
                <div>
                    <mip-img
                            layout="responsive"
                            width="412"
                            height="412"
                            src="http://img2.wutuojia.com/pic/sq_middle/item/image/20180319/153706_894287.png">
                    </mip-img>
                </div>
            </a>
        </div>
        <div class="w92">
            <a href="http://m.wutuojia.com/idea/711.html" title="混搭出高品质">
                <p class="wtj-title font32 black ellipsis">混搭出高品质</p>
                <p class="description h50 w92 textL">利用混搭的设计手法，再融入不同的装饰元素，从而营造出一种时尚又不失高品质的家居氛围。同时，还让空间显得更加出色与宽敞。</p>
            </a>
        </div>
    </li>
    <li>
        <div class="wtj-pic">
            <a href="http://m.wutuojia.com/idea/P463.html" title="简单就这么有品">
                <div>
                    <mip-img
                            layout="responsive"
                            width="412"
                            height="412"
                            src="http://img2.wutuojia.com/pic/sq_middle/item/image/20180312/160149_368741.png">
                    </mip-img>
                </div>
            </a>
        </div>
        <div class="w92">
            <a href="http://m.wutuojia.com/idea/710.html" title="简单就这么有品">
                <p class="wtj-title font32 black ellipsis">简单就这么有品</p>
                <p class="description h50 w92 textL">简单却不单调，以舒适精致的现代设计手法，在简简单单的空间氛围下，搭配上充满温馨、舒适的软装配饰，即使这个家的设计是简单的，但却是最有品味的。</p>
            </a>
        </div>
    </li>
    <li>
        <div class="wtj-pic">
            <a href="http://m.wutuojia.com/idea/P462.html" title="素色也可以很大气">
                <div>
                    <mip-img
                            layout="responsive"
                            width="412"
                            height="412"
                            src="http://img2.wutuojia.com/pic/sq_middle/item/image/20180305/103004_130507.png">
                    </mip-img>
                </div>
            </a>
        </div>
        <div class="w92">
            <a href="http://m.wutuojia.com/idea/709.html" title="素色也可以很大气">
                <p class="wtj-title font32 black ellipsis">素色也可以很大气</p>
                <p class="description h50 w92 textL">素色的家装，在视觉上会给人一种简约舒适的温馨感，而在设计的角度上，则会给人一种清新淡雅感，这样的装修设计，总会在无形中透出那种与生俱来的大气，让人没有办法不爱它。</p>
            </a>
        </div>
    </li>
</ul>
<div class="more-btn-div"> <a class="more-btn" href="#">查看更多</a></div>
<p class="lineL textC"><span></span></p>
<div class="w92 classfy textC font32 black">
    <span>热门品牌</span>
    <a class="bg" href="http://m.wutuojia.com/brand/"></a>
</div>
<div class="brands clearfix">
    <a href="http://m.wutuojia.com/brand/mkjiaju/">
        <mip-img
                layout="responsive"
                width="123"
                height="123"
                src="http://img1.wutuojia.com/pic/small/shop/brand/20170626/220848_182626.jpg">
        </mip-img>
    </a>
    <a href="http://m.wutuojia.com/brand/mkjiaju/">
        <mip-img
                layout="responsive"
                width="123"
                height="123"
                src="http://img1.wutuojia.com/pic/small/shop/brand/20161121/095913_182634.jpg">
        </mip-img>
    </a>
    <a href="http://m.wutuojia.com/brand/mkjiaju/">
        <mip-img
                layout="responsive"
                width="123"
                height="123"
                src="http://img2.wutuojia.com/pic/small/shop/brand/20161129/151503_257168.png">
        </mip-img>
    </a>
    <a href="http://m.wutuojia.com/brand/mkjiaju/">
        <mip-img
                layout="responsive"
                width="123"
                height="123"
                src="http://img1.wutuojia.com/pic/small/shop/brand/20170525/164753_582292.jpg">
        </mip-img>
    </a>
    <a href="http://m.wutuojia.com/brand/mkjiaju/">
        <mip-img
                layout="responsive"
                width="123"
                height="123"
                src="http://img1.wutuojia.com/pic/small/shop/brand/20170626/220848_182626.jpg">
        </mip-img>
    </a>
    <a href="http://m.wutuojia.com/brand/mkjiaju/">
        <mip-img
                layout="responsive"
                width="123"
                height="123"
                src="http://img1.wutuojia.com/pic/small/shop/brand/20161121/095913_182634.jpg">
        </mip-img>
    </a>
    <a href="http://m.wutuojia.com/brand/mkjiaju/">
        <mip-img
                layout="responsive"
                width="123"
                height="123"
                src="http://img2.wutuojia.com/pic/small/shop/brand/20161129/151503_257168.png">
        </mip-img>
    </a>
    <a href="http://m.wutuojia.com/brand/mkjiaju/">
        <mip-img
                layout="responsive"
                width="123"
                height="123"
                src="http://img1.wutuojia.com/pic/small/shop/brand/20170525/164753_582292.jpg">
        </mip-img>
    </a>
</div>
<p class="blank"></p>
<p class="lineL textC"><span></span></p>
<div class="w92 classfy textC font32 black">
    <span>家居专题</span>
    <a class="bg" href="http://m.wutuojia.com/zixun/baike/"></a>
</div>
<ul class="w92 res topics">
    <li>
        <h2 class="font32">家具知识</h2>
        <div class="detail">
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/6.html" title="餐桌">餐桌</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/8.html" title="鞋柜">鞋柜</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/9.html" title="衣柜">衣柜</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/23.html" title="皮床">皮床</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/28.html" title="玄关柜">玄关柜</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/36.html" title="实木床">实木床</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/37.html" title="床头柜">床头柜</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/38.html" title="欧式沙发">欧式沙发</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/39.html" title="布艺沙发">布艺沙发</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/40.html" title="儿童床">儿童床</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/41.html" title="电视柜">电视柜</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/42.html" title="壁柜">壁柜</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/43.html" title="博古架">博古架</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/44.html" title="茶几">茶几</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/120.html" title="橱柜">橱柜</a>
        </div>
    </li>
    <li>
        <h2 class="font32">软装知识</h2>
        <div class="detail">
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/24.html" title="窗帘">窗帘</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/25.html" title="枕头">枕头</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/26.html" title="被子">被子</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/87.html" title="墙纸">墙纸</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/88.html" title="灯具">灯具</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/99.html" title="床单">床单</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/101.html" title="被套">被套</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/104.html" title="地毯">地毯</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/106.html" title="花瓶">花瓶</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/107.html" title="仿真花">仿真花</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/108.html" title="台灯">台灯</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/109.html" title="吊灯">吊灯</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/162.html" title="床垫">床垫</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/163.html" title="室内植物">室内植物</a>
        </div>
    </li>
    <li>
        <h2 class="font32">设计知识</h2>
        <div class="detail">
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/103.html" title="北欧风格">北欧风格</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/105.html" title="地中海风格">地中海风格</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/110.html" title="东南亚风格">东南亚风格</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/111.html" title="美式风格">美式风格</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/112.html" title="田园风格">田园风格</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/113.html" title="欧式风格">欧式风格</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/114.html" title="西班牙风格">西班牙风格</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/115.html" title="现代风格">现代风格</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/116.html" title="日式风格">日式风格</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/117.html" title="中式风格">中式风格</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/118.html" title="英伦风格">英伦风格</a>
            <a class="font14" href="http://m.wutuojia.com/zixun/baike/119.html" title="法式风格">法式风格</a>
        </div>
    </li>
</ul>
<p class="blank"></p>
<p class="lineL textC"><span></span></p>
<div class="w92 classfy textC font32 black">
    <span>热门文章</span>
    <a class="bg" href="http://m.wutuojia.com/zixun/"></a>
</div>
<ul class="articles">
    <li>
        <a href="http://m.wutuojia.com/zixun/article/9603.html" title="玻璃杯有毒吗？一帖终结玻璃杯选购难题">
            <div>
                <mip-img
                        layout="responsive"
                        width="414"
                        height="320"
                        src="http://img2.wutuojia.com/pic/middle/cms/article/20160927/224328_259205.jpg">
                </mip-img>
            </div>
            <div class="w92 artCont">
                <h2 class="font32 ellipsis">玻璃杯有毒吗？一帖终结玻璃杯选购难题</h2>
                <p class="h50">玻璃杯相对塑料杯、纸杯、陶瓷杯可谓最健康、安全，加上其易清洁，价格合理，深得大家喜爱。但同时也有很多人担忧，玻璃杯长得差不多，可有的价格差那么多，有颜色的是否有毒……本文就选购玻璃杯遇到的问题，为你答疑解惑。</p>
                <p>2016-10-08</p>
            </div>
        </a>
    </li>

    <li>
        <a href="http://m.wutuojia.com/zixun/article/9614.html" title="涨姿势：如何挑选真正的蚕丝床品？">
            <div>
                <mip-img
                        layout="responsive"
                        width="414"
                        height="320"
                        src="http://img1.wutuojia.com/pic/middle/cms/article/20161012/164651_521487.jpg">
                </mip-img>
            </div>
            <div class="w92 artCont">
                <h2 class="font32 ellipsis">涨姿势：如何挑选真正的蚕丝床品？</h2>
                <p class="h50">羽毛质感，珍珠光泽，让人欲罢不能。然而，市面上多数假货，如何挑选性价比合理的正品？这，恰恰是本文要告诉你的。</p>
                <p>2016-10-12</p>
            </div>
        </a>
    </li>

</ul>
{{/block}}