{{extend '../layout/mipH5.html'}}

{{block 'title'}}{{schoolData.school.name}}{{/block}}

{{block 'content'}}
<mip-carousel
        autoplay
        defer="1000"
        layout="responsive"
        width="600"
        height="400"
        indicator
        buttonController
        >
    <mip-img
            src="https://www.mipengine.org/static/img/sample_01.jpg">
    </mip-img>
    <mip-img
            src="https://www.mipengine.org/static/img/sample_02.jpg">
    </mip-img>
    <mip-img
            src="https://www.mipengine.org/static/img/sample_03.jpg">
    </mip-img>
</mip-carousel>

<div class="w92 classfy textC font32 black">
    <span>{{schoolData.school.name}}</span>
</div>
<div class="parameter product-des">
    <dl>
        <dt>中文名称</dt>
        <dd>{{schoolData.school.name}}</dd>
    </dl>
    <dl>
        <dt>英文名称</dt>
        <dd>The Central Academy Of Drama</dd>
    </dl>

    <dl>
        <dt>学费</dt>
        <dd>8000-10000/年(部分专业免学费)</dd>
    </dl>
    <dl>
        <dt>学校官网</dt>
        <dd>
            {{schoolData.schoolAttr.siteUrl.attrValue}}
        </dd>
    </dl>
    <dl>
        <dt>教育性质</dt>
        <dd>
            普通高等教育
        </dd>
    </dl>
    <dl>
        <dt>学校地址</dt>
        <dd>北京市东城区东棉花胡同39号</dd>
    </dl>
    <dl>
        <dt>招生批次</dt>
        <dd>
            本科一批
        </dd>
    </dl>
</div>
<h3 class="product-tit">招生计划</h3>
<div class="product-des">
    {{schoolData.schoolContent.eduSchoolRecruit.content}}
</div>
<h3 class="product-tit">考试时间</h3>
<div class="product-des">
    {{schoolData.schoolContent.eduSchoolTestTime.content}}
</div>
<h3 class="product-tit">报考条件</h3>
<div class="product-des">
    {{schoolData.schoolContent.eduSchoolCondition.content}}
</div>
<h3 class="product-tit">录取分数线</h3>
<div class="product-des">
    {{schoolData.schoolContent.eduSchoolScoreLine.content}}
</div>
<h3 class="product-tit">常见问题</h3>
{{each schoolData.questions question}}
<div class="w92 question">
    <h2 class="font32 ellipsis">{{question.question}}</h2>
    <p>{{question.answer}}</p>
    <p><em>{{question.createTime}}</em></p>
</div>
{{/each}}
{{/block}}