<!-- 
	Desc: 	文章的列表界面
	Author: xiaocheng
	Date: 	2017年07月01日 18:09:10
-->

<!-- UI界面 start -->
<div id="cmsArticleView">
    <el-row v-if="showEditPage">
        <h3><i class="el-icon-share"></i> 文章管理</h3>
    </el-row>
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item label="ID">
                <el-input v-model="searchForm.id" placeholder="ID"></el-input>
            </el-form-item>
            <el-form-item label="名称">
                <el-input v-model="searchForm.name" placeholder="名称"></el-input>
            </el-form-item>
            <el-form-item label="分类">
                <mis-cascader ref="cmpSelect" placeholder="搜索" api-url="/api/admin/cms/cmsCategory/getOptions.do" :default-value="categoryArr" v-on:cascader-changed="getOptions" :can-select-all="true"></mis-cascader>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
                <el-button type="success" icon="plus" @click="addClick" v-if="showEditPage && hasRight('cmsArticle.Add')" >新增</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                @selection-change="selectionChange"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="50">
            </el-table-column>
			<el-table-column
                    prop="id"
                    label="ID"
                    width="80">
            </el-table-column>
			<el-table-column
                    prop="title"
                    label="文章标题"
                    width="240">
            </el-table-column>
			<el-table-column
                    prop="titleSub"
                    label="副标题"
                    width="200">
            </el-table-column>
            <el-table-column
                    label="封面"
                    width="135">
                <template scope="scope">
                    <div class="el-table-img-div">
                        <img :src="scope.row.coverImg" class="el-table-img">
                    </div>
                </template>
            </el-table-column>
			<el-table-column
                    prop="intro"
                    label="文章简介"
                    width="300">
            </el-table-column>
            <el-table-column
                    label="作者头像"
                    width="135">
                <template scope="scope">
                    <div class="el-table-img-div">
                        <img :src="scope.row.authorImg" class="el-table-img">
                    </div>
                </template>
            </el-table-column>
			<el-table-column
                    prop="authorName"
                    label="作者名称"
                    width="120">
            </el-table-column>
			<el-table-column
                    prop="source"
                    label="来源"
                    width="120">
            </el-table-column>
			<el-table-column
                    prop="tags"
                    label="文章标签"
                    width="320">
            </el-table-column>
			<el-table-column
                    prop="catId"
                    label="分类id"
                    width="120">
            </el-table-column>
			<el-table-column
                    prop="catName"
                    label="分类名称"
                    width="120">
            </el-table-column>
			<el-table-column
                    prop="checkState"
                    label="审核状态"
                    :formatter="enumFormat"
                    width="120">
            </el-table-column>
			<el-table-column
                    prop="state"
                    label="文章状态"
                    :formatter="enumFormat"
                    width="120">
            </el-table-column>
			<el-table-column
                    prop="style"
                    label="样式"
                    width="120">
            </el-table-column>
			<el-table-column
                    prop="publishTime"
                    label="发布时间"
                    :formatter="dateFormat"
                    width="180">
            </el-table-column>
			<el-table-column
                    prop="misUserId"
                    label="添加用户Id"
                    width="120">
            </el-table-column>
			<el-table-column
                    prop="userId"
                    label="用户Id"
                    width="120">
            </el-table-column>
			<el-table-column
                    prop="allowComment"
                    label="允许评论"
                    :formatter="booleanFormat"
                    width="120">
            </el-table-column>
			<el-table-column
                    label="排序值"
                    width="100">
                <template scope="scope">
                    <el-input v-model="scope.row.orderValue" placeholder="排序值" size="small" @blur="orderBlurEvent"
                              :data-id="scope.row.id"></el-input>
                </template>
            </el-table-column>
			<el-table-column
                    prop="createTime"
                    label="创建时间"
                    :formatter="dateFormat"
                    width="180">
            </el-table-column>
			<el-table-column
                    prop="updateTime"
                    label="更新时间"
                    :formatter="dateFormat"
                    width="180">
            </el-table-column>
            <el-table-column v-if="showEditPage"
				fixed="right"
                label="操作"
				width="320">
                <template scope="scope">
                    <el-button v-if="hasRight('cmsArticle.Update')" :plain="true" type="success" size="small" icon="edit" @click="editClick(scope.row)">
                        编辑
                    </el-button>
                    <el-button v-if="hasRight('cmsArticle.Delete')" :plain="true" type="danger" size="small" icon="delete" @click="deleteClick(scope.row)">
                        删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="6">
            <el-button v-if="showEditPage && hasRight('cmsArticle.Delete')" :plain="true" type="danger" size="small" icon="delete" @click="removeSelection">删除所选</el-button>
            <el-button v-if="!showEditPage" type="success" icon="plus" @click="selectSelection">选择</el-button>
        </el-col>
        <el-col :span="18">
            <el-pagination
                    style="float: right"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>

    <el-dialog v-model="dialogFormVisible" @open="dialogFormOpen">
        <div id="dialogForm">...</div>
    </el-dialog>
</div>
<!-- UI界面 end -->

<script type="text/javascript">
    var cmsArticleView = new Vue({
        el: '#cmsArticleView',
        data: {
            //列表数据
            tableData: [],
            //显示加载中样式
            loading: false,
            //搜索表单
            searchForm: {
                id: '',
                name: '',
                state: ''
            },
            //是否显示搜索界面
            showEditPage: false,
            //多选值
            multipleSelection: [],
            //当前页
            currentPage: 1,
            //分页大小
            pageSize: 10,
            //总记录数
            total: 800,
            //枚举类型
            enumType: {},
            //枚举下拉选择框
            enumTypeSelect:{},
            //弹窗表单的Url
            dialogFormUrl: '',
            //弹窗表单是否显示
            dialogFormVisible: false,
            //分类信息
            categoryArr:[],
        },
        //数据初始化
        created: function () {
            var _self = this;
            //TODO:待修改
            if(pageParam.showEditPage) {
                _self.showEditPage = true;
            }
            //获取枚举类型
            commonUtils.vueGetEnumType(_self, "cms_CmsArticleState,CheckState");
            _self.loadingData();
        },
        methods: {
            //是否具有权限
            hasRight: function(rightCode) {
                commonUtils.hasRight(rightCode);
            },
            //表格重新加载数据
            loadingData: function () {
                var _self = this;
                _self.loading = true;

                var paramData = {
                    pageSize: _self.pageSize,
                    page: _self.currentPage
                };
                //搜索条件设置
                if (commonUtils.isNotEmpty(_self.searchForm.id)) {
                    paramData.id = _self.searchForm.id;
                }
                if (commonUtils.isNotEmpty(_self.searchForm.name)) {
                    paramData.name = _self.searchForm.name;
                }
                //搜索
                $.ajax({
                    url: '/api/admin/cms/cmsArticle/list.do',
                    data: paramData,
                    dataType: "json"
                }).done(function (res, status, xhr) {
                    if (res.success) {
                        _self.tableData = res.data.list;
                        _self.total = res.data.totalRows;
                    } else {
                        _self.$message.error(res.msg);//提示错误
                    }
                    _self.loading = false;
                });
            },
            //表格查询事件
            searchClick: function () {
                this.loadingData();//重新加载数据
            },
            //排序值失去焦点事件
            orderBlurEvent: function (event) {
                var _self = this;
                var id = event.srcElement.parentElement.attributes["data-id"].value;//主键Id
                var orderValue = event.srcElement._value;//新的排序值
                if (!orderValue) {
                    return;
                }
                //修改排序值
                $.ajax({
                    url: '/api/admin/cms/cmsArticle/updateOrderValue.do',
                    data: {id: id, orderValue: orderValue},
                    dataType: "json"
                }).done(function (res) {
                    if (res.success) {
                        _self.loadingData();//重新加载数据
                    } else {
                        _self.$message.error(res.msg);//提示错误
                    }
                });
            },
            //分页大小修改事件
            pageSizeChange: function (val) {
                var _self = this;
                _self.pageSize = val;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange: function (val) {
                var _self = this;
                _self.currentPage = val;
                _self.loadingData();//重新加载数据
            },
            //新建事件
            addClick: function () {
                if(this.categoryArr && this.categoryArr.length > 0) {
                    var catids = "";
                    for(var o in this.categoryArr) {
                        catids += this.categoryArr[o] + ",";
                    }
                    var categoryId = this.categoryArr[this.categoryArr.length - 1];
                    window.location.href = "#/cmsArticle/add/catId_" + categoryId + "-catIds_" + catids;
                    return;
                }
                window.location.href = "#/cmsArticle/add";
            },
            //表格编辑事件
            editClick: function (row) {
                window.location.href = "#/cmsArticle/edit/" + row.id;
            },
            //弹窗打开事件
            dialogFormOpen:function() {
                var _self = this;
                if (commonUtils.isNotEmpty(_self.dialogFormUrl)) {
                    $.ajax({
                        url: _self.dialogFormUrl
                    }).done(function (res) {
                        $("#dialogForm").html(res);
                    });
                }
            },
            //弹窗关闭事件
            dialogFormClose:function(){
                var _self = this;
                _self.dialogFormVisible = false;
                _self.loadingData();//重新加载数据
            },
            //表格勾选事件
            selectionChange: function (val) {
                this.multipleSelection = val;
            },
            //删除所选，批量删除
            removeSelection: function () {
                var _self = this;
                var multipleSelection = _self.multipleSelection;
                if (multipleSelection.length < 1) {
                    _self.$message({
                        message: '请至少选中一条记录',
                        type: 'error'
                    });
                    return;
                }
                var ids = commonUtils.arrayToString(multipleSelection, "id");
                _self.removeData(_self, ids, ids);
            },
            //搜索弹窗的选择事件，批量选择
            selectSelection: function() {
                var _self = this;
                var multipleSelection = _self.multipleSelection;
                if (multipleSelection.length < 1) {
                    _self.$message({
                        message: '请至少选中一条记录',
                        type: 'error'
                    });
                    return;
                }
                //如果是弹窗模式，关闭弹窗
                if(typeof(searchCmsArticleParentView) !== 'undefined' && searchCmsArticleParentView.dialogFormVisible) {
                    var ids = commonUtils.arrayToSingleArray(multipleSelection, "id");
                    searchCmsArticleParentView.dialogFormClose(ids);
                }
            },
            //表格删除事件
            deleteClick: function (row) {
                var _self = this;
                var rowName = '[' + row.id + ']' + row.name;
                _self.removeData(_self, rowName, row.id);
            },
            //删除数据的方法
            removeData:function(_self, rowName, ids) {
                _self.$confirm('确认删除' + rowName + '吗?', '提示', {
                    type: 'warning'
                }).then(function () {
                    //删除记录
                    $.ajax({
                        url: '/api/admin/cms/cmsArticle/remove.do',
                        data: {ids: ids},
                        dataType: "json"
                    }).done(function (res) {
                        if (res.success) {
                            _self.$message({
                                message: rowName + '删除成功',
                                type: 'success'
                            });
                            _self.loadingData();//重新加载数据
                        } else {
                            _self.$message.error(res.msg);//提示错误
                        }
                    });
                }).catch(function (e) {
                    if (e != "cancel")
                        console.log("出现错误：" + e);
                });
            },
            //枚举类型格式化
            enumFormat: function (row, column) {
                var _self = this;
                var columnName = column.property;
                var columnVal = row[columnName];
                if (columnVal == undefined) {
                    return "";
                }
                if (columnName == 'state') {
                    var mType = _self.enumType["cms_CmsArticleState"];
                    return mType[columnVal];
                }
                if (columnName == 'checkState') {
                    var mType = _self.enumType["CheckState"];
                    return mType[columnVal];
                }
                return column;
            },
            //布尔值格式化
            booleanFormat: function (row, column) {
                var columnName = column.property;
                var columnVal = row[columnName];
                if (columnVal) {
                    return "是";
                }
                return "否";
            },
            //时间格式化
            dateFormat: function (row, column) {
                var date = row[column.property];
                if (date == undefined) {
                    return "";
                }
                return moment(date).format("YYYY-MM-DD HH:mm:ss");
            },
            getOptions:function(values) {
                this.categoryArr = values;
            },
        }
    });
</script>


