<!-- 
	Desc: 	用户角色的新增界面
	Author: xiaocheng
	Date: 	2017年05月08日 12:14:33
-->

<!-- UI界面 start -->
<div id="misRoleAddView">
    <el-row>
        <h3><i class="el-icon-edit"></i> <a href="#/misRole">后台用户管理</a> / 新增</h3>
    </el-row>
    <!--编辑界面-->
    <el-row type="flex" justify="center">
        <el-col :span="22">
            <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
				<!--id不需要-->
                <el-form-item label="名称" prop="name">
                    <el-input v-model="editForm.name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="角色Code" prop="roleCode">
                    <el-input v-model="editForm.roleCode" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="说明" prop="intro">
                    <el-input v-model="editForm.intro" auto-complete="off"></el-input>
                </el-form-item>
				<!--createTime不需要-->
				<!--updateTime不需要-->
				<!--removed不需要-->
				<!-- 
				<el-form-item label="状态">
                    <el-select v-model="editForm.status" placeholder="请选择">
                        <el-option
                                v-for="item in #misRoleStatus"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
				-->
            </el-form>
        </el-col>
    </el-row>

    <el-row type="flex" justify="center">
        <el-col :span="6">
            <el-button @click="editFormCancel">取消</el-button>
            <el-button type="primary" @click="editSubmit('editForm')" :loading="editLoading">提交</el-button>
        </el-col>
    </el-row>

</div>
<!-- UI界面 end -->

<script type="text/javascript">
    $.getScript('/res/js/mis/mis/misRole/misRoleForm.js', function () {
        //新增的表单设置默认值
        var misRoleModel = {
			//id//不需要此项
			name: '',		//名称
			roleCode: '',		//角色Code
			intro: '',		//说明
			createTime: '',		//创建时间
			updateTime: '',		//更新时间
			removed: false,	//是否删除
        };
        //清空参数
        pageParam = Object.assign({}, {});

        var misRoleAddView = new Vue({
            el: '#misRoleAddView',
            data: MisRoleFromCommon.data,
            //数据初始化
            created: function () {
                var _self = this;
                //获取下拉框选项
                MisRoleFromCommon.loadSelect(_self);
                _self.editForm = Object.assign({}, misRoleModel);
            },
            methods: {
                //是否具有权限
                hasRight: function(rightCode) {
                    return commonUtils.hasRight(rightCode);
                },
                //保存事件
                editSubmit: function (formName) {
                    var _self = this;
                    _self.$refs[formName].validate(function(valid){
                        if (valid) {
                            MisRoleFromCommon.saveAction(_self);
                        } else{
                            _self.$message.error("请正确填写表单！");
                        }
                    });
                },
                //取消事件
                editFormCancel: function () {
                    MisRoleFromCommon.cancelAction();
                }
            }
        });
    });
</script>
