<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    {{if title}}
    <title>{{title}}</title>
    {{else}}
    <title>lord.com网站</title>
    {{/if}}
    {{if keywords}}
    <meta name="keywords" content="{{keywords}}"/>
    {{else}}
    <meta name="keywords" content="lord.com"/>
    {{/if}}
    {{if description}}
    <meta name="description" content="{{description}}"/>
    {{else}}
    <meta name="description" content="lord.com"/>
    {{/if}}