html, body {
    height: 100%;
    margin: 0px;
}

#mainView {
    width: 100%;
    height: 100%;
}
.mainHeader {
    display:table;
    text-align:center;
    width: 100%;
    background-color: #545c64;
    color: #5cb85c;
}
.mainHeader .logo {
    display:table-cell;
    vertical-align:middle;
    padding-top: 10px;
}
.logo img {
    max-height:45px;
}
.right-menu {
    display:table-cell; vertical-align:middle;color: white;padding-top: 20px
}
.main-breadcrumb {
    margin: 10px;
}
#showView {
    margin: 10px;
}

/** 图片选择器样式 http://rvera.github.io/image-picker/ */
ul.thumbnails.image_picker_selector {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
ul.thumbnails.image_picker_selector li.group {width:100%;}
ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
ul.thumbnails.image_picker_selector li {
    margin: 0px 12px 12px 0px;
    float: left; }
ul.thumbnails.image_picker_selector li .thumbnail {
    padding: 6px;
    border: 1px solid #dddddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
ul.thumbnails.image_picker_selector li .thumbnail img {
    -webkit-user-drag: none; }
ul.thumbnails.image_picker_selector li .thumbnail.selected {
    background: #0088cc; }

/**图片上传样式 */
.avatar-uploader .el-upload {
    border: 1.2px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #20a0ff;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 160px;
    height: 160px;
    line-height: 160px;
    text-align: center;
}
.avatar {
    max-width: 160px;
    max-height: 160px;
    padding: 3px;
    display: block;
}

/** 表格的图片 */
.el-table-img {
    max-width: 100px;
    max-height: 100px;
}
.el-table-img-div {
    text-align:center;
    padding-top: 5px;
}

.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
}