<!-- 
	Desc: 	文章标签关联表的编辑界面
	Author: xiaocheng
	Date: 	2017年07月01日 18:03:02
-->

<!-- UI界面 start -->
<div id="cmsArticleTagsEditView">
    <el-row>
        <h3><i class="el-icon-edit"></i> <a href="#/cmsArticleTags">文章标签关联表管理</a> / 编辑</h3>
    </el-row>
    <!--编辑界面-->
    <el-row type="flex" justify="center">
        <el-col :span="22">
            <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
				<el-form-item label="ID" prop="id">
                    <el-input v-model="editForm.id" auto-complete="off" :disabled="true"></el-input>
                </el-form-item>
				<el-form-item label="文章Id">
                    <el-input-number v-model="editForm.articleId" :min="0"></el-input-number>
                </el-form-item>
				<el-form-item label="标签Id">
                    <el-input-number v-model="editForm.tagsId" :min="0"></el-input-number>
                </el-form-item>
                <!--TODO:待修改-->
				<!--<el-form-item label="状态">
                    <el-select v-model="editForm.status" placeholder="请选择">
                        <el-option
                                v-for="item in cmsArticleTagsStatus"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>-->
            </el-form>
        </el-col>
    </el-row>

    <el-row type="flex" justify="center">
        <el-col :span="6">
            <el-button @click="editFormCancel">取消</el-button>
            <el-button type="primary" @click="editSubmit('editForm')" :loading="editLoading">提交</el-button>
        </el-col>
    </el-row>

</div>
<!-- UI界面 end -->

<script type="text/javascript">
    $.getScript('/res/js/mis/cmsArticleTags/cmsArticleTagsForm.js', function () {
        var cmsArticleTagsEditView = new Vue({
            el: '#cmsArticleTagsEditView',
            data: CmsArticleTagsFromCommon.data,
            //数据初始化
            created: function () {
                var _self = this;
                //获取下拉框选项
                CmsArticleTagsFromCommon.loadSelect(_self);
                //根据Id,获取编辑的对象
                $.ajax({
                    async: true,
                    url: '/api/admin/cms/cmsArticleTags/' + pageParam.id + ".do",
                    dataType: "json"
                }).done(function (res) {
                    if (res.success) {
                        _self.editForm = Object.assign(CmsArticleTagsFromCommon.defaultModel, res.data);
                    } else {
                        _self.$message.error(res.msg);//提示错误
                    }
                });
            },
            methods: {
                //保存事件
                editSubmit: function (formName) {
                    var _self = this;
                    _self.$refs[formName].validate(function(valid){
                        if (valid) {
                            CmsArticleTagsFromCommon.saveAction(_self);
                        } else{
                            _self.$message.error("请正确填写表单！");
                        }
                    });
                },
                //取消事件
                editFormCancel: function () {
                    CmsArticleTagsFromCommon.cancelAction();
                },
                //上传图片前的验证事件
                beforeAvatarUpload:function(file) {
                    var _self = this;
                    commonUtils.uploadImageCheck(file, _self);
                }
            }
        });
    });
</script>
