<!-- 
	Desc: 	文章标签关联表的列表界面
	Author: xiaocheng
	Date: 	2017年07月01日 18:03:02
-->

<!-- UI界面 start -->
<div id="cmsArticleTagsView">
    <el-row>
        <h3><i class="el-icon-share"></i> 文章标签关联表管理</h3>
    </el-row>
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item label="ID">
                <el-input v-model="searchForm.id" placeholder="ID"></el-input>
            </el-form-item>
            <el-form-item label="名称">
                <el-input v-model="searchForm.name" placeholder="名称"></el-input>
            </el-form-item>
            <!--TODO:待修改-->
            <el-form-item label="状态">
                <el-select v-model="searchForm.state" placeholder="请选择">
                    <el-option
                            v-for="item in enumTypeSelect"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" icon="search" @click="searchClick">查询</el-button>
                <el-button type="success" icon="plus" @click="addClick">新增</el-button>
                <el-button type="success" icon="plus" @click="dialogAddClick">弹窗新增</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <el-table
                :data="tableData"
                v-loading.body="loading"
                border
                @selection-change="selectionChange"
                style="width: 100%">
            <el-table-column
                    type="selection"
                    width="50">
            </el-table-column>
			<el-table-column
                    prop="id"
                    label="ID"
                    width="80">
            </el-table-column>
			<el-table-column
                    prop="articleId"
                    label="文章Id"
                    width="120">
            </el-table-column>
			<el-table-column
                    prop="tagsId"
                    label="标签Id"
                    width="120">
            </el-table-column>
            <el-table-column
				fixed="right"
                label="操作"
				width="320">
                <template scope="scope">
                    <el-button :plain="true" type="success" size="small" icon="edit" @click="editClick(scope.row)">
                        编辑
                    </el-button>
                    <el-button :plain="true" type="danger" size="small" icon="delete" @click="deleteClick(scope.row)">
                        删除
                    </el-button>
                    <el-button :plain="true" type="success" size="small" icon="edit" @click="dialogEditClick(scope.row)">
                        弹窗编辑
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <!--列表底部工具条和分页符-->
    <el-row style="margin-top: 20px" type="flex" justify="end">
        <el-col :span="6">
            <el-button :plain="true" type="danger" size="small" icon="delete" @click="removeSelection">删除所选</el-button>
        </el-col>
        <el-col :span="18">
            <el-pagination
                    style="float: right"
                    @size-change="pageSizeChange"
                    @current-change="currentPageChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 30, 50]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </el-col>
    </el-row>

    <el-dialog v-model="dialogFormVisible" @open="dialogFormOpen">
        <div id="dialogForm">...</div>
    </el-dialog>
</div>
<!-- UI界面 end -->

<script type="text/javascript">
    var cmsArticleTagsView = new Vue({
        el: '#cmsArticleTagsView',
        data: {
            //列表数据
            tableData: [],
            //显示加载中样式
            loading: false,
            //搜索表单
            searchForm: {
                id: '',
                name: '',
                state: ''
            },
            searchState: false,
            //多选值
            multipleSelection: [],
            //当前页
            currentPage: 1,
            //分页大小
            pageSize: 10,
            //总记录数
            total: 800,
            //枚举类型
            enumType: {},
            //枚举下拉选择框
            enumTypeSelect:{},
            //弹窗表单的Url
            dialogFormUrl: '',
            //弹窗表单是否显示
            dialogFormVisible: false,
        },
        //数据初始化
        created: function () {
            var _self = this;
            //TODO:待修改
            //获取枚举类型
            $.ajax({
                async: true,
                url: '/api/mis/getEnumType.do',
                data: {cls: "MisUserStatus"},
                dataType: "json"
            }).done(function (res) {
                if (res.success) {
                    var enumJson = {};
                    for(var key in res.data){
                        var enumArr = res.data[key];
                        var enumEle = {};
                        for(var i=0;i<enumArr.length;i++) {
                            var enumObj = enumArr[i];
                            enumEle[enumObj.value] = enumObj.label;
                        }
                        enumJson[key] = enumEle;
                    }
                    _self.enumTypeSelect = res.data.MisUserStatus;
                    _self.enumType = enumJson;
                } else {
                    _self.$message.error(res.msg);//提示错误
                }
            });
            _self.loadingData();
        },
        methods: {
            //表格重新加载数据
            loadingData: function () {
                var _self = this;
                _self.loading = true;

                var paramData = {
                    pageSize: _self.pageSize,
                    page: _self.currentPage
                };
                //搜索条件设置
                if (commonUtils.isNotEmpty(_self.searchForm.id)) {
                    paramData.id = _self.searchForm.id;
                }
                if (commonUtils.isNotEmpty(_self.searchForm.name)) {
                    paramData.name = _self.searchForm.name;
                }
                //搜索
                $.ajax({
                    async: true,
                    url: '/api/admin/cms/cmsArticleTags/list.do',
                    data: paramData,
                    dataType: "json"
                }).done(function (res, status, xhr) {
                    if (res.success) {
                        _self.tableData = res.data.list;
                        _self.total = res.data.totalRows;
                    } else {
                        _self.$message.error(res.msg);//提示错误
                    }
                    _self.loading = false;
                });
            },
            //表格查询事件
            searchClick: function () {
                this.loadingData();//重新加载数据
            },
            //排序值失去焦点事件
            orderBlurEvent: function (event) {
                var _self = this;
                var id = event.srcElement.parentElement.attributes["data-id"].value;//主键Id
                var orderValue = event.srcElement._value;//新的排序值
                if (!orderValue) {
                    return;
                }
                //修改排序值
                $.ajax({
                    async: true,
                    url: '/api/admin/cms/cmsArticleTags/updateOrderValue.do',
                    data: {id: id, orderValue: orderValue},
                    dataType: "json"
                }).done(function (res) {
                    if (res.success) {
                        _self.loadingData();//重新加载数据
                    } else {
                        _self.$message.error(res.msg);//提示错误
                    }
                });
            },
            //分页大小修改事件
            pageSizeChange: function (val) {
                var _self = this;
                _self.pageSize = val;
                _self.loadingData();//重新加载数据
            },
            //当前页修改事件
            currentPageChange: function (val) {
                var _self = this;
                _self.currentPage = val;
                _self.loadingData();//重新加载数据
            },
            //新建事件
            addClick: function () {
                window.location.href = "#/cmsArticleTags/add";
            },
            //表格编辑事件
            editClick: function (row) {
                window.location.href = "#/cmsArticleTags/edit/" + row.id;
            },
            //弹窗新建事件
            dialogAddClick: function () {
                var _self = this;
                _self.dialogFormVisible = true;
                _self.dialogFormUrl = "/mis/cmsArticleTags/cmsArticleTagsAdd.html";
            },
            //表格弹窗编辑事件
            dialogEditClick: function (row) {
                var _self = this;
                pageParam = Object.assign({}, {id: row.id});//设置页面参数
                _self.dialogFormVisible = true;
                _self.dialogFormUrl = "/mis/cmsArticleTags/cmsArticleTagsEdit.html";
            },
            //弹窗打开事件
            dialogFormOpen:function() {
                var _self = this;
                if (commonUtils.isNotEmpty(_self.dialogFormUrl)) {
                    $.ajax({
                        url: _self.dialogFormUrl
                    }).done(function (res) {
                        $("#dialogForm").html(res);
                    });
                }
            },
            //弹窗关闭事件
            dialogFormClose:function(){
                var _self = this;
                _self.dialogFormVisible = false;
                _self.loadingData();//重新加载数据
            },
            //表格勾选事件
            selectionChange: function (val) {
                this.multipleSelection = val;
            },
            //删除所选，批量删除
            removeSelection: function () {
                var _self = this;
                var multipleSelection = _self.multipleSelection;
                if (multipleSelection.length < 1) {
                    _self.$message({
                        message: '请至少选中一条记录',
                        type: 'error'
                    });
                    return;
                }
                var ids = "";
                for (var i = 0; i < multipleSelection.length; i++) {
                    var row = multipleSelection[i];
                    ids += row.id + ","
                }
                //去掉末尾逗号
                if(ids.indexOf(',') > -1)
                    ids = ids.substr(0, ids.length - 1);

                _self.removeData(_self, ids, ids);
            },
            //表格删除事件
            deleteClick: function (row) {
                var _self = this;
                var rowName = '[' + row.id + ']' + row.name;
                _self.removeData(_self, rowName, row.id);
            },
            //删除数据的方法
            removeData:function(_self, rowName, ids) {
                _self.$confirm('确认删除' + rowName + '吗?', '提示', {
                    type: 'warning'
                }).then(function () {
                    //删除记录
                    $.ajax({
                        async: true,
                        url: '/api/admin/cms/cmsArticleTags/remove.do',
                        data: {ids: ids},
                        dataType: "json"
                    }).done(function (res) {
                        if (res.success) {
                            _self.$message({
                                message: rowName + '删除成功',
                                type: 'success'
                            });
                            _self.loadingData();//重新加载数据
                        } else {
                            _self.$message.error(res.msg);//提示错误
                        }
                    });
                }).catch(function (e) {
                    if (e != "cancel")
                        console.log("出现错误：" + e);
                });
            },
            //枚举类型格式化
            enumFormat: function (row, column) {
                var _self = this;
                var columnName = column.property;
                var columnVal = row[columnName];
                if (columnVal == undefined) {
                    return "";
                }
                if (columnName == 'status') {
                    var mType = _self.enumType["MisUserStatus"];
                    return mType[columnVal];
                }
                return column;
            },
            //布尔值格式化
            booleanFormat: function (row, column) {
                var columnName = column.property;
                var columnVal = row[columnName];
                if (columnVal) {
                    return "是";
                }
                return "否";
            },
            //时间格式化
            dateFormat: function (row, column) {
                var date = row[column.property];
                if (date == undefined) {
                    return "";
                }
                return moment(date).format("YYYY-MM-DD HH:mm:ss");
            }
        }
    });
</script>


