{{extend '../layout/eduPC.html'}}

{{block 'title'}}文章列表{{/block}}
{{block 'head'}}
<link rel="stylesheet" type="text/css" href="{{resSite}}/css/wtj/wtjcms.css"/>
{{/block}}

{{block 'content'}}
<div class="w1200 consultationdetails-main ">
    <div class="breadcrumb">
        <span><a href="{{articleUrl}}/">资讯</a><i></i></span>
        {{each listData.categoryList}}
        <span><a href="{{articleUrl}}/{{$value.id}}/">{{$value.name}}</a><i></i></span>
        {{/each}}
    </div>
    <div class=" clearfix consultationdetails-content">
        <div class="consultationdetails-content-r  consultation-content-l">
            <div class="special-nav">
                <h4>栏目导航</h4>
                <ul class="special-nav-ul">
                    {{each listData.categoryTree catOne}}
                    <li
                    {{if listData.parentCatIds.indexOf(catOne.id + ',') > -1}}
                    class="special-nav-on"
                    {{/if}}>
                        <a href="{{articleUrl}}/{{catOne.id}}/" ><span  class="special-nav-name">{{catOne.name}}<i></i></span></a>
                        <ul class="special-nav-ul-t">
                            {{each catOne.children catTwo}}
                            <li>
                                <a href="{{articleUrl}}/{{catTwo.id}}/"
                                   {{if listData.parentCatIds.indexOf(catTwo.id + ',') > -1}} class="special-t-on" {{/if}}
                                        >{{catTwo.name}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </div>

            <h3>热门文章</h3>
            <ul class="clearfix ul-consultationdetails-r">
                {{each listData.recommendArticles article}}
                <li>
                    <a href="{{articleUrl}}/{{article.id}}.html" target="_blank">
                        <div class="about-info" >
                            <img src="{{article.coverImg | showImg}}"/>
                            <span></span>
                        </div>
                        <div class="about-info-m">
                            <h4>{{article.title}}</h4>
                            <p>{{article.intro}}</p>
                        </div>
                    </a>
                </li>
                {{/each}}
            </ul>

            <h3>精选推荐</h3>
            <div class="clearfix recommend">
                {{each listData.recommendArticles article}}
                <p><b>■</b><a href="{{articleUrl}}/{{article.id}}.html" target="_blank">{{article.title}}</a></p>
                {{/each}}
            </div>
            <h3>猜你喜欢</h3>
            <div class="clearfix recommend">
                {{each randomArticles article}}
                <p><b>■</b><a href="{{articleUrl}}/{{article.id}}.html" target="_blank">{{article.title}}</a></p>
                {{/each}}
            </div>

            <h3>相关专题</h3>
            <div class="clearfix about-special">
                {{each listData.tagsList tags}}
                <a href="{{tagsUrl}}/{{tags.id}}/" target="_blank">{{tags.name}}</a>
                {{/each}}
            </div>
        </div>
        <div class="consultation-content-r">
            <div class="clearfix query-hot">
                <span class="hot" >热门</span>
                <span class="query-hot-on">
                <a href="{{dynSite}}/article/">最新({{listData.articleData.totalRows}})</a>
                </span>
		    	<span style="float: right; margin-top: 6px;" >
					<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=4037853190789419867' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
				</span>
            </div>
            <ul class="clearfix ul-concent-cnsul">
                {{each listData.articleData.list article}}
                <li>
                    <div class="cnsul-concent-img">
                        <a target="_blank" href="{{articleUrl}}/{{article.id}}.html" target="_blank">
                            <img src="{{article.coverImg | showImg}}"/>
                        </a>
                        <span></span>
                    </div>
                    <div class="cnsul-concent-r">
                        <h3><a target="_blank" href="{{articleUrl}}/{{article.id}}.html">{{article.title}}</a></h3>
                        <div class=" clearfix newdetais-time"> <span class="newdetais-time-span"><i></i>{{article.updateTime}}</span> <span class="newdetais-time-span"><em></em>{{article.catName}}</span></div>
                        <p><a target="_blank" href="{{articleUrl}}/{{article.id}}.html">
                            {{article.intro}}<i>［查看全文］</i>
                        </a></p>
                    </div>
                </li>
                {{/each}}
            </ul>

            {{set pager = listData.articleData}}
            {{if pager.needPaging}}
            <div class=" clearfix page-div page-cms">
                <div class="paging-div">
                    <div class="nav-num">
                        {{if pager.hasPrev}}
                        {{if pager.page-1 == 1}}
                        <a href="{{pageUrl}}/" class="nav-left"></a>
                        {{else}}
                        <a href="{{pageUrl}}/list{{pager.page - 1}}.html" class="nav-left"></a>
                        {{/if}}
                        {{/if}}
                        {{each pager.pageNavs pageNum}}
                        {{if pageNum == pager.page}}
                        <a href="javascript:;" class="on-page">{{pageNum}}</a>
                        {{else if pageNum == 1}}
                        <a href="{{pageUrl}}/">{{pageNum}}</a>
                        {{else if pageNum>1}}
                        <a href="{{pageUrl}}/list{{pageNum}}.html">{{pageNum}}</a>
                        {{else}}
                        <a href="javascript:;">...</a>
                        {{/if}}
                        {{/each}}
                        {{if pager.hasNext}}
                        <a href="{{pageUrl}}/list{{pager.page + 1}}.html" class="nav-right"></a>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/if}}

        </div>
    </div>
</div>
{{/block}}

{{block 'foot'}}
<script type="text/javascript" src="{{resSite}}/js/wtj/wtjcms.js"></script>
{{/block}}