{{extend '../layout/eduPC.html'}}

{{block 'title'}}{{articleData.article.title}}{{/block}}
{{block 'description'}}{{articleData.article.intro}}{{/block}}
{{block 'head'}}
<link rel="stylesheet" type="text/css" href="{{resSite}}/css/wtj/wtjcms.css"/>
{{/block}}

{{block 'content'}}
<div class="w1200 consultationdetails-main ">
    <div class="breadcrumb">
        <span><a href="{{articleUrl}}/">资讯</a><i></i></span>
        {{each articleData.categoryList}}
        <span><a href="{{articleUrl}}/{{$value.id}}/">{{$value.name}}</a><i></i></span>
        {{/each}}
        <span><a>{{articleData.article.title}}</a></span>
    </div>

    <div class=" clearfix consultationdetails-content">
        <div class="consultationdetails-content-l">
            <div class="content-l-box">

                <h1 class="clearfix">
                    {{articleData.article.title}}
                </h1>

                <div class=" clearfix newdetais-time">
                    <span class="newdetais-time-span"><i></i>{{articleData.article.createTime}}</span>
                    <span class="newdetais-time-span"><em></em>{{articleData.article.catName}}</span>
                    {{if articleData.article.authorName}}
                    <span class="newdetais-span">作者：{{articleData.article.authorName}}</span>
                    {{/if}}
                    {{if articleData.article.source}}
                    <span class="newdetais-span">来源：{{articleData.article.source}}</span>
                    {{/if}}
                </div>
                <div class="clearfix lead-box">导语：{{articleData.article.intro}}</div>
                <div class="clearfix text-content">
                    {{if articleData.content}}
                        {{articleData.content.content | showPC}}
                    {{/if}}
                </div>
                <div class="clearfix page-div page-cms" >
                </div>
            </div>
            <div class="clearfix tag-box">
            </div>
            <div class="clearfix tag-box share-box">
                <h4>分享到</h4>
                <div class="analyse-img-btn share-divs">
                    <div class="jiathis_style_32x32">
                        <a class="jiathis_button_tsina sina-wb" title="分享到新浪微博"></a>
                        <a class="jiathis_button_weixin qq-wx" title="分享到微信"></a>
                        <a class="jiathis_button_huaban hb-wz" title="分享到花瓣"></a>
                        <a class="jiathis_button_cqq qq-gj" title="分享到QQ"></a>
                        <a class="copy-link" d-name="http://www.wutuojia.com/zixun/article/9698.html" title="复制链接"></a>
                    </div>
                </div>
            </div>
            <div class="clearfix opt-btn-div">

                <span class="nav-prv">上一篇：
                    {{if articleData.prevArticle}}
                    <a href="{{articleUrl}}/{{articleData.prevArticle.id}}.html">{{articleData.prevArticle.title}}</a>
                    {{else}}
                    没有了
                    {{/if}}
                </span>
                <span class="nav-next">下一篇：{{if articleData.nextArticle}}
                    <a href="{{articleUrl}}/{{articleData.nextArticle.id}}.html">{{articleData.nextArticle.title}}</a>
                    {{else}}
                    没有了
                    {{/if}}
                </span>
            </div>


        </div>
        <div class="consultationdetails-content-r ">
            <h3>相关专题</h3>
            <div class="about-special">
                {{each articleData.tagsList tags}}
                <a href="{{tagsUrl}}/{{tags.id}}/" target="_blank">{{tags.name}}</a>
                {{/each}}
            </div>
            {{if articleData.refArticles}}
            <div class="consultation-content-l" style="float:right;margin-right: 64%;padding-top: 25px;">
                <h3>相关文章</h3>
                <div class="clearfix recommend" style="width:250%;">
                    {{each articleData.refArticles article}}
                    <p><b>■</b><a href="{{articleUrl}}/{{article.id}}.html" target="_blank">{{article.title}}</a></p>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            <div class="consultation-content-l" style="float:right;margin-right: 64%;padding-top: 25px;">
                <h3>随机推荐</h3>
                <div class="clearfix recommend" style="width:250%;">
                    {{each randomArticles article}}
                    <p><b>■</b><a href="{{articleUrl}}/{{article.id}}.html" target="_blank">{{article.title}}</a></p>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</div>
{{/block}}

{{block 'foot'}}
<script src="{{resSite}}/js/wtj/wtjcms.js"></script>
{{/block}}