{{extend '../layout/eduPC.html'}}

{{block 'title'}}首页{{/block}}
{{block 'keywords'}}家居,家居网,家居官网,家居商城,乌托家,乌托家家居商城官网,电商平台,家居电商,家居电商平台,家居o2o{{/block}}
{{block 'description'}}乌托家，一个家居O2O电商平台。我们致力于和用户一起打造一个理想的家、一种自己想要的生活方式。{{/block}}
{{block 'head'}}
<link rel="stylesheet" type="text/css" href="/res/css/wtj/wtjmain.css"/>
<link rel="stylesheet" type="text/css" href="/res/css/wtj/specialdetail.css"/>
<link rel="stylesheet" type="text/css" href="/res/css/wtj/mybuild_v2.css"/>
{{/block}}

{{block 'content'}}

{{/block}}

{{block 'foot'}}
<script src="/res/js/vue/vue-2.5.16.min.js"></script>
<script src="/res/js/vue/element-ui-2.2.1.js"></script>
{{/block}}