{{extend '../layout/eduPC.html'}}

{{block 'head'}}
<link rel="stylesheet" type="text/css" href="/res/css/wtj/wtjmain.css"/>
<link rel="stylesheet" type="text/css" href="/res/css/wtj/specialdetail.css"/>
<link rel="stylesheet" type="text/css" href="/res/css/wtj/mybuild_v2.css"/>
{{/block}}

{{block 'content'}}
<div class="effect clearfix wtj-banner">
    <div class="tv-slideBox" id="focusAd"> <a class="prev"></a><a class="next"></a>
        <div class="bd">
            <div class="tempWrapall">
                <ul>
                    {{each indexData.spaceMap[indexData.treeMap.JiaoDianTu.keyword].elements link}}
                    <li>
                        <div class="pic">
                            <a target="_blank" href="{{link.adsUrl}}">
                            <div class="img-div-slide"
                                 style="background:url({{link.adsImg | showImg}}) no-repeat 50% 50%;">
                            </div>
                        </a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="banner-menu">
        <ul>
            {{each indexData.treeMap.category.subList category}}
            <li>
                <h3>{{indexData.spaceMap[category.keyword + '/title'].elements[0].name}}</h3>
                <div class="banner-menu-hover">
                    <div class="banner-menu-boxs">
                        {{each indexData.spaceMap[category.keyword + '/link'].elements link index}}
                        {{if index == 0 || index == 5 || index == 10}}
                        <div class="cow-banner">
                        {{/if}}
                            <a rel="nofollow"  href="{{link.adsUrl}}" target="_blank">{{link.title}}</a>
                        {{if index == 4 || index == 9 || index == 14}}
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<div class=" clearfix w1200 rec-commodity inspiration">
    <div class=" clearfix rec-commodity-head">
        <h2 class="fl index-title-name">推荐学校</h2>
        <div class="fr pro-nav"><a href="{{indexData.spaceMap[indexData.treeMap.XueXiao.keyword].space.spaceUrl}}" target="_blank">更多<i></i></a></div>
    </div>
    <ul class="clearfix inspiration-ul">
        {{each indexData.spaceMap[indexData.treeMap.XueXiao.keyword].elements link}}
        <li>
            <div class="inpirt-box">
                <a href="{{link.adsUrl}}" target="_blank" class="img-inspiration-div lazy-wrap">
                    <img  data-original='{{link.adsImg | showImg}}'  src='http://www.wutuojia.com/images/front/grey.png' alt="{{link.title}}" class="inspiration-img lazy" />
                </a>
            </div>
            <h3><a href="{{link.adsUrl}}" target="_blank">{{link.title}}</a></h3>
            <p><a href="{{link.adsUrl}}" target="_blank">{{link.subTitle}}</a></p>
        </li>
        {{/each}}
    </ul>
</div>
<div class=" clearfix w1200">
    <div class="wtj-link"></div>
</div>

<div class=" clearfix w1200 rec-commodity inspiration">
    <div class=" clearfix rec-commodity-head">
        <h2 class="fl index-title-name">推荐专业</h2>
        <div class="fr pro-nav"><a href="{{indexData.spaceMap[indexData.treeMap.ZhuanYe.keyword].space.spaceUrl}}" target="_blank">更多<i></i></a></div>
    </div>
    <ul class="clearfix inspiration-ul">
        {{each indexData.spaceMap[indexData.treeMap.ZhuanYe.keyword].elements link}}
        <li>
            <div class="inpirt-box">
                <a href="{{link.adsUrl}}" target="_blank" class="img-inspiration-div lazy-wrap">
                    <img data-original='{{link.adsImg | showImg}}'  src='http://www.wutuojia.com/images/front/grey.png' alt="{{link.title}}" class="inspiration-img lazy" />
                </a>
            </div>
            <h3><a href="{{link.adsUrl}}" target="_blank">{{link.title}}</a></h3>
            <p><a href="{{link.adsUrl}}" target="_blank">{{link.subTitle}}</a></p>
        </li>
        {{/each}}
    </ul>
</div>
<div class=" clearfix w1200">
    <div class="wtj-link"></div>
</div>

<div class=" clearfix w1200 rec-commodity inspiration">
    <div class=" clearfix rec-commodity-head">
        <h2 class="fl index-title-name">热门系别</h2>
        <div class="fr pro-nav"><a href="{{indexData.spaceMap[indexData.treeMap.XiBie.keyword].space.spaceUrl}}" target="_blank">更多<i></i></a></div>
    </div>
    <ul class="clearfix inspiration-ul">
        {{each indexData.spaceMap[indexData.treeMap.XiBie.keyword].elements link}}
        <li>
            <div class="inpirt-box">
                <a href="{{link.adsUrl}}" target="_blank" class="img-inspiration-div lazy-wrap">
                    <img  data-original='{{link.adsImg | showImg}}'  src='http://www.wutuojia.com/images/front/grey.png' alt="{{link.title}}" class="inspiration-img lazy" />
                </a>
            </div>
            <h3><a href="{{link.adsUrl}}" target="_blank">{{link.title}}</a></h3>
            <p><a href="{{link.adsUrl}}" target="_blank">{{link.subTitle}}</a></p>
        </li>
        {{/each}}
    </ul>
</div>
<div class=" clearfix w1200">
    <div class="wtj-link"></div>
</div>

<div class=" clearfix w1200 rec-commodity inspiration wtj-guide">
    <div class=" clearfix rec-commodity-head">
        <h2 class="fl index-title-name">报考指南</h2>
        <div class="fr pro-nav"><a href="http://www.wutuojia.com/zixun/" target="_blank">更多<i></i></a></div>
    </div>
    <div class="clearfix wtj-guide-main">
        {{set firstLink = indexData.spaceMap[indexData.treeMap.ZhuanYe.keyword].elements}}
        {{if firstLink[0]}}
        <a href="{{firstLink[0].adsUrl}}" target="_blank">
            <div class="guide-main-l lazy-wrap">
                <div class="g-m-b"></div>
                <div class="g-m-c">
                    <h2>{{firstLink[0].title}}</h2>
                    <p>{{firstLink[0].subTitle}}</p>
                </div>
                <img data-original="{{firstLink[0].adsImg | showImg}}" src="http://www.wutuojia.com/images/front/grey.png" alt="{{firstLink[0].title}}" class="lazy" />
            </div>
        </a>
        {{/if}}
        <div class="guide-main-c">
            {{if firstLink[1]}}
            <a href="{{firstLink[1].adsUrl}}" target="_blank">
                <div class="guide-c-t lazy-wrap">
                    <img data-original="{{firstLink[1].adsImg | showImg}}" src="http://www.wutuojia.com/images/front/grey.png" alt="{{firstLink[1].title}}" class="lazy" />
                    <div class="g-m-c2">
                        <p>— {{firstLink[1].title}} —</p>
                        <h2>{{firstLink[1].subTitle}}</h2>
                    </div>
                </div>
            </a>
            {{/if}}
            {{if firstLink[2]}}
            <a href="{{firstLink[2].adsUrl}}" target="_blank">
                <div class="guide-c-t lazy-wrap">
                    <img data-original="{{firstLink[2].adsImg | showImg}}" src="http://www.wutuojia.com/images/front/grey.png" alt="{{firstLink[2].title}}" class="lazy" />
                    <div class="g-m-c2">
                        <p>— {{firstLink[2].title}} —</p>
                        <h2>{{firstLink[2].subTitle}}</h2>
                    </div>
                </div>
            </a>
            {{/if}}
        </div>
        {{if firstLink[3]}}
        <a href="{{firstLink[3].adsUrl}}" target="_blank">
            <div class="guide-main-r lazy-wrap">
                <img data-original="{{firstLink[3].adsImg | showImg}}" src="http://www.wutuojia.com/images/front/grey.png" alt="{{firstLink[3].title}}" class="lazy" />
                <div class="g-m-b"></div>
                <div class="g-m-c4">
                    <p>{{firstLink[3].title}}</p>
                    <h2>{{firstLink[3].subTitle}}</h2>
                </div>
            </div>
        </a>
        {{/if}}
    </div>
</div>

<div class=" clearfix w1200">
    <div class="wtj-link"></div>
</div>

{{/block}}

{{block 'foot'}}
<script type="text/javascript" src="/res/js/wtj/index.js"></script>
{{/block}}