{{extend '../layout/eduPC.html'}}

{{block 'title'}}学校目录{{/block}}
{{block 'keywords'}}家居,家居网,家居官网,家居商城,乌托家,乌托家家居商城官网,电商平台,家居电商,家居电商平台,家居o2o{{/block}}
{{block 'description'}}乌托家，一个家居O2O电商平台。我们致力于和用户一起打造一个理想的家、一种自己想要的生活方式。{{/block}}
{{block 'head'}}
<link rel="stylesheet" type="text/css" href="/res/css/wtj/wtjminorpages.css"/>
<link rel="stylesheet" type="text/css" href="/res/css/wtj/wtjprogramme.css"/>
{{/block}}

{{block 'content'}}
<div class="clearfix w1200 search-criteria">
    <ul class="ul-search-criteria">
        <li class="space-li">
            <dl>
                <dt>地区查找：</dt>
                <dd class="style-dd space-dd" style="height: 76px;">
                    {{each districtList district index}}
                    <a rel="nofollow" href="#district{{district.id}}" title="{{district.name}}">{{district.name}}</a>
                    {{/each}}
                </dd>
                <dd class="style-r-btn"><a href="javascript:;" class="up down" sid="i-space"></a></dd>
            </dl>
        </li>
    </ul>
</div>

<div class="clearfix w1200  pgme-menu">
    <ul class="pgme-menu-c">
        <li><a href="http://www.wutuojia.com/theme/">北京</a></li>
    </ul>
</div>
<div class=" clearfix w1200 rec-commodity rec-commoditylist">
    <div class="clearfix w1200 rec-commodity-main theme-list">
        <ul class="rec-commodity-uls">
            <li>
                <div class="rec-commodity-box" style="display: none;"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="http://www.wutuojia.com/theme/23/" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160909/172223_139927.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160909/172223_139927.jpg" alt="去阳台抓住秋风" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>去阳台抓住秋风</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>198</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop" style="display: none;">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20160714/173429_318893.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/inspire/su18/20160505/155510_531601.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20160407/173720_719046.png" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box" style="display: none;"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="http://www.wutuojia.com/theme/22/" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160902/163431_533661.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160902/163431_533661.jpg" alt="家中一抹绿意盎然" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>家中一抹绿意盎然</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>169</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop" style="display: none;">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/inspire/su17/20160408/105240_489070.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20160520/162743_92622.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20160429/151837_601333.png" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box" style="display: none;"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="http://www.wutuojia.com/theme/21/" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160825/165135_315342.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160825/165135_315342.jpg" alt="惬意客厅懒起来" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>惬意客厅懒起来</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>114</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop" style="display: none;">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20160624/20160624185609_190668.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20160617/20160617181115_678389.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/inspire/su17/20160811/155807_754360.jpg" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap loading1">
                        <a href="http://www.wutuojia.com/theme/20/" target="_blank">
                            <img class="lazy" data-original="http://img2.wutuojia.com/pic/middle/situation/20160815/163904_290715.jpg" src="http://www.wutuojia.com/images/front/grey.png" alt="灵动轻简书房">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>灵动轻简书房</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>187</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20151124/20151124180352_127984.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20160406/20160406231314_586626.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20151127/20151127104102_236182.png" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="http://www.wutuojia.com/theme/18/" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160401/172103_615826.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160401/172103_615826.jpg" alt="就是这么喜欢黄" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>就是这么喜欢黄</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>276</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20151227/235503_471670.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20151020/20151020103521_997128.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20150816/20150816175315_143338.png" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box" style="display: none;"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="http://www.wutuojia.com/theme/10/" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160223/140854_911689.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160223/140854_911689.jpg" alt="偏爱小角落" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>偏爱小角落</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>643</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop" style="display: none;">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/inspire/su14/20160131/003841_30666.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/inspire/su16/20151211/162109_260813.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/inspire/su17/20151129/034651_240145.jpg" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="http://www.wutuojia.com/theme/12/" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160303/163458_463794.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160303/163458_463794.jpg" alt="硬朗的艺术格调" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>硬朗的艺术格调</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>271</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20160223/163931_850556.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/inspire/su48/20151103/112647_88176.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/inspire/su18/20160223/182224_936177.jpg" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap loading2">
                        <a href="http://www.wutuojia.com/theme/16/" target="_blank">
                            <img class="lazy" data-original="http://img2.wutuojia.com/pic/middle/situation/20160315/200048_924083.jpg" src="http://www.wutuojia.com/images/front/grey.png" alt="我家有故事，你带酒来！">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>我家有故事，你带酒来！</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>848</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20170819/20170819152319_339800.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20170819/20170819152435_976056.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20160303/110100_951868.png" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="http://www.wutuojia.com/theme/4/" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160218/194426_546128.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160218/194426_546128.jpg" alt="给你点红色看看" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>给你点红色看看</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>786</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20170819/20170819152328_674394.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20151106/20151106190421_523719.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/inspire/su17/20150806/160152_99159.jpg" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="http://www.wutuojia.com/theme/8/" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160222/183247_527600.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160222/183247_527600.jpg" alt="好色无可厚非" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>好色无可厚非</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>1001</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20170819/20170819151917_528992.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20151124/20151124180316_782157.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20150826/20150826154355_504069.png" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="http://www.wutuojia.com/theme/9/" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160223/140514_447970.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160223/140514_447970.jpg" alt="贵气侧漏" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>贵气侧漏</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>560</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20150817/20150817192758_853947.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20150830/20150830230851_554116.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20160111/143140_616294.jpg" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap loading2">
                        <a href="http://www.wutuojia.com/theme/13/" target="_blank">
                            <img class="lazy" data-original="http://img2.wutuojia.com/pic/middle/situation/20160309/173117_511856.jpg" src="http://www.wutuojia.com/images/front/grey.png" alt="春光乍泄">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>春光乍泄</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>469</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20160309/144446_818294.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/inspire/su20/20150828/135024_679740.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20170819/20170819152303_772508.png" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="http://www.wutuojia.com/theme/14/" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160309/173146_479753.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160309/173146_479753.jpg" alt="蓝色情结" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>蓝色情结</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>879</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20160128/154850_196254.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20170819/20170819152009_594285.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20151126/20151126144929_587841.png" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box" style="display: none;"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="http://www.wutuojia.com/theme/5/" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160218/194348_824988.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160218/194348_824988.jpg" alt="家有熊孩子" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>家有熊孩子</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>658</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop" style="display: none;">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20151124/20151124183846_55787.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20170817/20170817150620_12896.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/mybuild/build/20151020/20151020105433_201464.png" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box" style="display: none;"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="http://www.wutuojia.com/theme/7/" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160218/194400_550993.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160218/194400_550993.jpg" alt="木木君" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>木木君</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>61</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop" style="display: none;">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20151224/154240_46863.png" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20151028/210932_493373.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20160111/150754_506009.png" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="rec-commodity-box"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap loading2">
                        <a href="http://www.wutuojia.com/theme/17/" target="_blank">
                            <img class="lazy" data-original="http://img2.wutuojia.com/pic/middle/situation/20160324/154151_46760.jpg" src="http://www.wutuojia.com/images/front/grey.png" alt="北欧风情">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>北欧风情</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>1166</div></div>
                            </div>
                        </a>
                    </div>
                    <div class="rec-commodity-pop theme-pop">
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/inspire/su19/20150812/150134_741821.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20160115/162219_22308.jpg" alt="">
                            <sapn></sapn>
                        </div>
                        <div class="theme-pop-div">
                            <img src="http://img2.wutuojia.com/pic/85x85/themeProject/20160111/153339_894642.png" alt="">
                            <sapn></sapn>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

{{each districtList district index}}
{{if district.schools && district.schools.length > 0}}
<div class="clearfix w1200  pgme-menu">
    <ul class="pgme-menu-c">
        <li><a id="district{{district.id}}">{{district.name}}</a></li>
    </ul>
</div>
<div class=" clearfix w1200 rec-commodity rec-commoditylist">
    <div class="clearfix w1200 rec-commodity-main theme-list">
        <ul class="rec-commodity-uls">

            {{each district.schools school}}
            <li>
                <div class="rec-commodity-box" style="display: none;"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="/edu/school/{{school.id}}.html" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160909/172223_139927.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160909/172223_139927.jpg" alt="去阳台抓住秋风" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>{{school.name}}</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>198</div></div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}
{{/each}}

{{/block}}

{{block 'foot'}}
<script type="text/javascript" src="/res/js/wtj/wtjcms.js"></script>
{{/block}}