{{extend '../layout/eduPC.html'}}

{{block 'title'}}学校目录{{/block}}
{{block 'head'}}
<link rel="stylesheet" type="text/css" href="{{resSite}}/css/wtj/wtjminorpages.css"/>
<link rel="stylesheet" type="text/css" href="{{resSite}}/css/wtj/wtjprogramme.css"/>
{{/block}}

{{block 'content'}}
<div class="clearfix w1200 search-criteria">
    <ul class="ul-search-criteria">
        <li class="space-li">
            <dl>
                <dt>地区查找：</dt>
                <dd class="style-dd space-dd" style="height: 76px;">
                    {{each districtList district index}}
                    <a rel="nofollow" href="#district{{district.id}}" title="{{district.name}}">{{district.name}}</a>
                    {{/each}}
                </dd>
                <dd class="style-r-btn"><a href="javascript:;" class="up down" sid="i-space"></a></dd>
            </dl>
        </li>
    </ul>
</div>

{{each districtList district index}}
{{if district.schools && district.schools.length > 0}}
<div class="clearfix w1200  pgme-menu">
    <ul class="pgme-menu-c">
        <li><a id="district{{district.id}}">{{district.name}}</a></li>
    </ul>
</div>
<div class=" clearfix w1200 rec-commodity rec-commoditylist">
    <div class="clearfix w1200 rec-commodity-main theme-list">
        <ul class="rec-commodity-uls">

            {{each district.schools school}}
            <li>
                <div class="rec-commodity-box" style="display: none;"> </div>
                <div class="commodity-box-main">
                    <div class="commodity-img-box product-img theme-img-box lazy-wrap">
                        <a href="{{schoolUrl}}/{{school.id}}.html" target="_blank">
                            <img class="" data-original="http://img2.wutuojia.com/pic/middle/situation/20160909/172223_139927.jpg" src="http://img2.wutuojia.com/pic/middle/situation/20160909/172223_139927.jpg" alt="{{school.name}}" style="display: inline;">
                            <span></span>
                            <div class="theme-img-bg"></div>
                            <div class="theme-img-cm">
                                <p>{{school.name}}</p>
                                <div class="follownumdel-row"><div class="follownumdel "><i></i>198</div></div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}
{{/each}}

{{/block}}

{{block 'foot'}}
<script type="text/javascript" src="{{resSite}}/js/wtj/wtjcms.js"></script>
{{/block}}