<!-- 
	Desc: 	后台菜单的具体权限的列表界面
	Author: xiaocheng
	Date: 	2017年07月28日 18:03:31
-->

<!-- UI界面 start -->
<div id="misMenuRightView">
    <el-row v-if="showEditPage">
        <h3><i class="el-icon-share"></i> 后台菜单的具体权限管理</h3>
    </el-row>
    <!--列表顶部搜索和工具条-->
    <el-row>
        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
            <el-form-item>
                <el-button v-if="showEditPage" type="success" icon="el-icon-plus" @click="addDefaultRight">新增基本权限</el-button>
                <el-button v-if="showEditPage" type="success" icon="el-icon-plus" @click="resetEditForm">新增</el-button>
            </el-form-item>
        </el-form>
    </el-row>
    <!--列表-->
    <el-row>
        <el-col :span="10">
            <el-card class="box-card">
                <el-form :model="editForm" label-width="80px" :rules="editFormRules" ref="editForm">
                    <el-form-item label="ID" prop="id">
                        <el-input v-model="editForm.id" auto-complete="off" :disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="名称" prop="name">
                        <el-input v-model="editForm.name" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="编码" prop="rightCode">
                        <el-input v-model="editForm.rightCode" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="菜单Id">
                        <el-input-number v-model="editForm.menuId" :disabled="true"></el-input-number>
                    </el-form-item>
                    <el-form-item label="排序">
                        <el-input-number v-model="editForm.orderValue"></el-input-number>
                    </el-form-item>
                </el-form>
                <el-row type="flex" justify="center">
                    <el-col :span="6">
                        <el-button type="primary" @click="editSubmit('editForm')" :loading="editLoading">{{editFromBtnName}}</el-button>
                    </el-col>
                </el-row>
            </el-card>
        </el-col>
        <el-col :span="14">
            <el-table
                    :data="tableData"
                    v-loading.body="loading"
                    border
                    style="width: 100%">
                <el-table-column
                        prop="id"
                        label="ID"
                        width="80">
                </el-table-column>
                <el-table-column
                        prop="name"
                        label="名称"
                        width="80">
                </el-table-column>
                <el-table-column
                        prop="rightCode"
                        label="code"
                        width="80">
                </el-table-column>
                <el-table-column
                        prop="menuId"
                        label="菜单Id"
                        width="120">
                </el-table-column>
                <el-table-column
                        label="排序值"
                        width="100">
                    <template scope="scope">
                        <el-input v-model="scope.row.orderValue" placeholder="排序值" size="small" @blur="orderBlurEvent"
                                  :data-id="scope.row.id"></el-input>
                    </template>
                </el-table-column>
                <el-table-column v-if="showEditPage"
                    fixed="right"
                    label="操作"
                    width="200">
                    <template scope="scope">
                        <el-button :plain="true" type="success" size="small" icon="el-icon-edit" @click="editClick(scope.row)">
                            编辑
                        </el-button>
                        <el-button :plain="true" type="danger" size="small" icon="el-icon-delete" @click="deleteClick(scope.row)">
                            删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>
    </el-row>
</div>
<!-- UI界面 end -->

<script type="text/javascript">
    function misMenuRightRowIsExist(rowName, rule, value, callback) {
        if (!value) {
            return callback(new Error("此项不能为空"));
        }
        $.ajax({
            url: "/api/admin/mis/misMenuRight/isExist.do",
            data: {menuId:pageParam.menuId, rowValue:value, rowName:rowName},
            dataType: "json"
        }).done(function (res, status, xhr) {
            if (res.success) {
                return callback(new Error(res.msg));
            } else {
                callback();
            }
        });
    }
    var misMenuRightView = new Vue({
        el: '#misMenuRightView',
        data: {
            //列表数据
            tableData: [],
            //显示加载中样式
            loading: false,
            //搜索表单
            searchForm: {
                id: '',
                name: '',
                state: ''
            },
            //是否显示搜索界面
            showEditPage: true,
            //多选值
            multipleSelection: [],
            //当前页
            currentPage: 1,
            //分页大小
            pageSize: 10,
            //总记录数
            total: 800,
            //枚举类型
            enumType: {},
            //枚举下拉选择框
            enumTypeSelect:{},
            //弹窗表单的Url
            dialogFormUrl: '',
            //弹窗表单是否显示
            dialogFormVisible: false,
            editLoading:false,
            editForm:{},
            //表单验证规则
            editFormRules: {
                name: [
                    {required: true, message: '名称不能为空', trigger: 'blur'},
                    {
                        validator: function(rule, value, callback){
                            return misMenuRightRowIsExist("name", rule, value, callback);
                        },
                        trigger: 'blur'
                    }
                ],
                rightCode: [
                    {required: true, message: '名称不能为空', trigger: 'blur'},
                    {
                        validator: function(rule, value, callback){
                            return misMenuRightRowIsExist("rightCode", rule, value, callback);
                        },
                        trigger: 'blur'
                    }
                ],
            },
            editFromBtnName:"添加",
        },
        //数据初始化
        created: function () {
            var _self = this;
            if(pageParam.showEditPage) {
                _self.showEditPage = true;
            }
            //获取枚举类型
            commonUtils.vueGetEnumType(_self, "mis_MisUserStatus");
            _self.loadingData();
            _self.resetEditForm();
        },
        methods: {
            //是否具有权限
            hasRight: function(rightCode) {
                return commonUtils.hasRight(rightCode);
            },
            //表格重新加载数据
            loadingData: function () {
                var _self = this;
                _self.loading = true;

                var paramData = {
                    menuId: pageParam.menuId
                };
                //搜索
                $.ajax({
                    url: '/api/admin/mis/misMenuRight/pageByMenu.do',
                    data: paramData,
                    dataType: "json"
                }).done(function (res, status, xhr) {
                    if (res.success) {
                        _self.tableData = res.data.list;
                        _self.total = res.data.totalRows;
                    } else {
                        _self.$message.error(res.msg);//提示错误
                    }
                    _self.loading = false;
                });
            },
            //排序值失去焦点事件
            orderBlurEvent: function (event) {
                var _self = this;
                var id = event.srcElement.parentElement.attributes["data-id"].value;//主键Id
                var orderValue = event.srcElement._value;//新的排序值
                if (!orderValue) {
                    return;
                }
                //修改排序值
                $.ajax({
                    url: '/api/admin/mis/misMenuRight/updateOrderValue.do',
                    data: {id: id, orderValue: orderValue},
                    dataType: "json"
                }).done(function (res) {
                    if (res.success) {
                        _self.loadingData();//重新加载数据
                    } else {
                        _self.$message.error(res.msg);//提示错误
                    }
                });
            },
            //新增菜单的基础权限配置
            addDefaultRight:function() {
                var _self = this;
                $.ajax({
                    url: '/api/admin/mis/misMenuRight/addDefaultRight.do',
                    data:{menuId: pageParam.menuId},
                    dataType: "json"
                }).done(function (res) {
                    if (res.success) {
                        _self.$message.info(res.msg);
                        _self.loadingData();
                    } else {
                        _self.$message.error(res.msg);//提示错误
                    }
                });
            },
            //新建事件
            resetEditForm: function () {
                this.editForm = {
                    id:'',
                    name: '',		//权限名称
                    rightCode: '',		//权限code
                    menuId: pageParam.menuId,		//菜单Id
                    orderValue: ''		//排序
                };
                this.editFromBtnName = "添加";
            },
            //表格编辑事件
            editClick: function (row) {
                var _self = this;
                _self.resetEditForm();
                //根据Id,获取编辑的对象
                $.ajax({
                    url: '/api/admin/mis/misMenuRight/' + row.id + ".do",
                    dataType: "json"
                }).done(function (res) {
                    if (res.success) {
                        _self.editForm = Object.assign(_self.editForm, res.data);
                        _self.editFromBtnName = "保存";
                    } else {
                        _self.$message.error(res.msg);//提示错误
                    }
                });
            },
            //表格勾选事件
            selectionChange: function (val) {
                this.multipleSelection = val;
            },
            //删除所选，批量删除
            removeSelection: function () {
                var _self = this;
                var multipleSelection = _self.multipleSelection;
                if (multipleSelection.length < 1) {
                    _self.$message({
                        message: '请至少选中一条记录',
                        type: 'error'
                    });
                    return;
                }
                var ids = commonUtils.arrayToString(multipleSelection, "id");
                _self.removeData(_self, ids, ids);
            },
            //表格删除事件
            deleteClick: function (row) {
                var _self = this;
                var rowName = '[' + row.id + ']' + row.name;
                _self.removeData(_self, rowName, row.id);
            },
            //删除数据的方法
            removeData:function(_self, rowName, ids) {
                _self.$confirm('确认删除' + rowName + '吗?', '提示', {
                    type: 'warning'
                }).then(function () {
                    //删除记录
                    $.ajax({
                        url: '/api/admin/mis/misMenuRight/remove.do',
                        data: {ids: ids},
                        dataType: "json"
                    }).done(function (res) {
                        if (res.success) {
                            _self.$message({
                                message: rowName + '删除成功',
                                type: 'success'
                            });
                            _self.loadingData();//重新加载数据
                        } else {
                            _self.$message.error(res.msg);//提示错误
                        }
                    });
                }).catch(function (e) {
                    if (e != "cancel")
                        console.log("出现错误：" + e);
                });
            },
            //枚举类型格式化
            enumFormat: function (row, column) {
                var _self = this;
                var columnName = column.property;
                var columnVal = row[columnName];
                if (columnVal == undefined) {
                    return "";
                }
                if (columnName == 'status') {
                    var mType = _self.enumType["mis_MisUserStatus"];
                    return mType[columnVal];
                }
                return column;
            },
            //布尔值格式化
            booleanFormat: function (row, column) {
                var columnName = column.property;
                var columnVal = row[columnName];
                if (columnVal) {
                    return "是";
                }
                return "否";
            },
            //时间格式化
            dateFormat: function (row, column) {
                var date = row[column.property];
                if (date == undefined) {
                    return "";
                }
                return moment(date).format("YYYY-MM-DD HH:mm:ss");
            },
            //保存事件
            editSubmit: function (formName) {
                var _self = this;
                _self.$refs[formName].validate(function(valid){
                    if (valid) {
                        $.ajax({
                            type: "POST",
                            url: '/api/admin/mis/misMenuRight/saveOrUpdate.do',
                            data: _self.editForm,
                            dataType: "json"
                        }).done(function (res, status, xhr) {
                            if (res.success) {
                                _self.$message.success(res.msg);//保存成功
                                _self.resetEditForm();
                                _self.loadingData();
                            } else {
                                _self.$message.error(res.msg);//提示错误
                            }
                            _self.loading = false;
                        });
                    } else{
                        _self.$message.error("请正确填写表单！");
                    }
                });
            },
        }
    });
</script>


