<!-- 
	Desc: 	文章标签的新增界面
	Author: xiaocheng
	Date: 	2017年07月01日 15:42:51
-->

<!-- UI界面 start -->
<div id="cmsTagsAddView">
    <el-row>
        <h3><i class="el-icon-edit"></i> <a href="#/cmsTags">文章标签管理</a> / 新增</h3>
    </el-row>
    <!--编辑界面-->
    <el-row type="flex" justify="center">
        <el-col :span="22">
            <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
				<!--id不需要-->
                <el-form-item label="名称" prop="name">
                    <el-input v-model="editForm.name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="描述" prop="intro">
                    <el-input v-model="editForm.intro" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="拼音" prop="letter">
                    <el-input v-model="editForm.letter" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="标签图片" prop="tagImg">
                    <el-upload
                            class="avatar-uploader"
                            action="/api/uploadFile.do"
                            :show-file-list="false"
                            :on-success="handleUploadTagImgSuccess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="editForm.tagImg" :src="editForm.tagImg" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
				<el-form-item label="排序">
                    <el-input-number v-model="editForm.orderValue" :min="0"></el-input-number>
                </el-form-item>
				<!--createTime不需要-->
				<!--updateTime不需要-->
				<!--removed不需要-->
                <!--TODO:待修改-->
                <!--<el-form-item label="状态">
                    <el-select v-model="editForm.status" placeholder="请选择">
                        <el-option
                                v-for="item in cmsTagsStatus"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>-->
            </el-form>
        </el-col>
    </el-row>

    <el-row type="flex" justify="center">
        <el-col :span="6">
            <el-button @click="editFormCancel">取消</el-button>
            <el-button type="primary" @click="editSubmit('editForm')" :loading="editLoading">提交</el-button>
        </el-col>
    </el-row>

</div>
<!-- UI界面 end -->

<script type="text/javascript">
    $.getScript('/res/js/mis/cms/cmsTags/cmsTagsForm.js', function () {
        //清空参数
        pageParam = Object.assign({}, {});

        var cmsTagsAddView = new Vue({
            el: '#cmsTagsAddView',
            data: CmsTagsFromCommon.data,
            //数据初始化
            created: function () {
                var _self = this;
                //获取下拉框选项
                CmsTagsFromCommon.loadSelect(_self);
                _self.editForm = Object.assign({}, CmsTagsFromCommon.defaultModel);
            },
            methods: {
                //保存事件
                editSubmit: function (formName) {
                    var _self = this;
                    _self.$refs[formName].validate(function(valid){
                        if (valid) {
                            CmsTagsFromCommon.saveAction(_self);
                        } else{
                            _self.$message.error("请正确填写表单！");
                        }
                    });
                },
                //取消事件
                editFormCancel: function () {
                    CmsTagsFromCommon.cancelAction();
                },
                //上传图片成功的回调事件
                handleUploadTagImgSuccess:function(res, file) {
                    var _self = this;
                    _self.editForm.tagImg = commonUtils.uploadImageSuccess(res, file, _self);
                },
                //上传图片前的验证事件
                beforeAvatarUpload:function(file) {
                    var _self = this;
                    commonUtils.uploadImageCheck(file, _self);
                }
            }
        });
    });
</script>
