<!-- 
	Desc: 	文章分类的新增界面
	Author: xiaocheng
	Date: 	2017年07月01日 16:25:37
-->

<!-- UI界面 start -->
<div id="cmsCategoryAddView">
    <el-row>
        <h3><i class="el-icon-edit"></i> <a href="#/cmsCategory">文章分类管理</a> / 新增</h3>
    </el-row>
    <!--编辑界面-->
    <el-row type="flex" justify="center">
        <el-col :span="22">
            <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
				<!--id不需要-->
                <el-form-item label="分类名称" prop="name">
                    <el-input v-model="editForm.name" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="拼音" prop="letter">
                    <el-input v-model="editForm.letter" auto-complete="off"></el-input>
                </el-form-item>
				<el-form-item label="站点id">
                    <el-input-number v-model="editForm.siteId" :disabled="true" :min="0"></el-input-number>
                </el-form-item>
				<el-form-item label="等级">
                    <el-input-number v-model="editForm.level" :disabled="true" :min="0"></el-input-number>
                </el-form-item>
                <el-form-item label="描述" prop="intro">
                    <el-input v-model="editForm.intro" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="分类图标" prop="icon">
                    <el-upload
                            class="avatar-uploader"
                            action="/api/uploadFile.do"
                            :show-file-list="false"
                            :on-success="handleUploadIconSuccess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="editForm.icon" :src="editForm.icon" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
                <el-form-item label="PC图片" prop="pcImg">
                    <el-upload
                            class="avatar-uploader"
                            action="/api/uploadFile.do"
                            :show-file-list="false"
                            :on-success="handleUploadPcImgSuccess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="editForm.pcImg" :src="editForm.pcImg" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
                <el-form-item label="移动端图片" prop="mobileImg">
                    <el-upload
                            class="avatar-uploader"
                            action="/api/uploadFile.do"
                            :show-file-list="false"
                            :on-success="handleUploadMobileImgSuccess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="editForm.mobileImg" :src="editForm.mobileImg" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                </el-form-item>
				<el-form-item label="父分类">
                    <el-input-number v-model="editForm.parentId" :disabled="true" :min="0"></el-input-number>
                </el-form-item>
                <el-form-item label="父分类名称" prop="parentName">
                    <el-input v-model="editForm.parentName" :disabled="true" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="父分类Id列表" prop="parentIds">
                    <el-input v-model="editForm.parentIds" :disabled="true" auto-complete="off"></el-input>
                </el-form-item>
				<el-form-item label="是否是叶子节点">
                    <el-radio-group v-model="editForm.leaf" :disabled="true">
                        <el-radio class="radio" :label="true">是</el-radio>
                        <el-radio class="radio" :label="false">否</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="子分类列表" prop="childrenIds">
                    <el-input v-model="editForm.childrenIds" :disabled="true" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="样式" prop="style">
                    <el-input v-model="editForm.style" auto-complete="off"></el-input>
                </el-form-item>
				<el-form-item label="添加用户Id">
                    <el-input-number v-model="editForm.misUserId" :disabled="true" :min="0"></el-input-number>
                </el-form-item>
				<el-form-item label="排序">
                    <el-input-number v-model="editForm.orderValue" :min="0"></el-input-number>
                </el-form-item>
				<!--createTime不需要-->
				<!--updateTime不需要-->
				<!--removed不需要-->
                <!--TODO:待修改-->
                <!--<el-form-item label="状态">
                    <el-select v-model="editForm.status" placeholder="请选择">
                        <el-option
                                v-for="item in cmsCategoryStatus"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>-->
            </el-form>
        </el-col>
    </el-row>

    <el-row type="flex" justify="center">
        <el-col :span="6">
            <el-button @click="editFormCancel">取消</el-button>
            <el-button type="primary" @click="editSubmit('editForm')" :loading="editLoading">提交</el-button>
        </el-col>
    </el-row>

</div>
<!-- UI界面 end -->

<script type="text/javascript">
    $.getScript('/res/js/mis/cms/cmsCategory/cmsCategoryForm.js', function () {
        //新增的表单设置默认值
        var categoryModel = {
            //id//不需要此项
            name: '',		//名称
            level: 1,		//等级
            letter: '',		//拼音
            icon: '',		//菜单图标
            parentId: 0,		//父节点Id
            parentName: '',		//父节点名称
            parentIds: '',		//所有父节点Id
            leaf: false,	//是否叶子节点
            childrenIds: '',		//所有子节点Id
            orderValue: 0,		//排序
            url: '',		//菜单链接
            createTime: '',		//创建时间
            updateTime: '',		//更新时间
        };

        var cmsCategoryAddView = new Vue({
            el: '#cmsCategoryAddView',
            data: CmsCategoryFromCommon.data,
            //数据初始化
            created: function () {
                var _self = this;
                //获取下拉框选项
                CmsCategoryFromCommon.loadSelect(_self);
                _self.editForm = Object.assign({}, categoryModel);
                //加载父分类
                if(pageParam.parentId) {
                    //根据Id,获取父节点
                    $.ajax({
                        url: '/api/admin/cms/cmsCategory/' + pageParam.parentId + ".do",
                        dataType: "json"
                    }).done(function (res) {
                        if (res.success) {
                            _self.editForm.parentId = res.data.id;
                            _self.editForm.level = res.data.level + 1;
                            _self.editForm.parentName = res.data.name;
                        } else {
                            _self.$message.error(res.msg);//提示错误
                        }
                    });
                }
            },
            methods: {
                //是否具有权限
                hasRight: function(rightCode) {
                    return commonUtils.hasRight(rightCode);
                },
                //保存事件
                editSubmit: function (formName) {
                    var _self = this;
                    _self.$refs[formName].validate(function(valid){
                        if (valid) {
                            CmsCategoryFromCommon.saveAction(_self);
                        } else{
                            _self.$message.error("请正确填写表单！");
                        }
                    });
                },
                //取消事件
                editFormCancel: function () {
                    CmsCategoryFromCommon.cancelAction();
                },
                //上传图片成功的回调事件
                handleUploadIconSuccess:function(res, file) {
                    var _self = this;
                    _self.editForm.icon = commonUtils.uploadImageSuccess(res, file, _self);
                },
                //上传图片成功的回调事件
                handleUploadPcImgSuccess:function(res, file) {
                    var _self = this;
                    _self.editForm.pcImg = commonUtils.uploadImageSuccess(res, file, _self);
                },
                //上传图片成功的回调事件
                handleUploadMobileImgSuccess:function(res, file) {
                    var _self = this;
                    _self.editForm.mobileImg = commonUtils.uploadImageSuccess(res, file, _self);
                },
                //上传图片前的验证事件
                beforeAvatarUpload:function(file) {
                    var _self = this;
                    commonUtils.uploadImageCheck(file, _self);
                }
            }
        });
    });
</script>
