<!-- 
	Desc: 	Excel模板配置的编辑界面
	Author: xiaocheng
	Date: 	2018年03月16日 15:51:05
-->

<!-- UI界面 start -->
<div id="excelTemplateEditView">
    <el-row>
        <h3><i class="el-icon-edit"></i> <a href="#/excelTemplate">Excel模板配置管理</a> / {{editModeName}}</h3>
    </el-row>
    <!--编辑界面-->
    <el-row type="flex" justify="center">
        <el-col :span="22">
            <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
                <el-row>
                    <el-col :span="10">
                        <el-form-item label="ID" prop="id" v-if="editMode">
                            <el-input v-model="editForm.id" auto-complete="off" :disabled="true" size="small"></el-input>
                        </el-form-item>
                        <el-form-item label="Excel名称" prop="excelName">
                            <el-input v-model="editForm.excelName" auto-complete="off" size="small"></el-input>
                        </el-form-item>
                        <el-form-item label="数据库表名" prop="tableName">
                            <el-input v-model="editForm.tableName" auto-complete="off" size="small" :disabled="editMode"></el-input>
                        </el-form-item>
                        <el-form-item label="Sheet索引">
                            <el-input-number v-model="editForm.excelSheetIndex" :min="0" size="small"></el-input-number>
                        </el-form-item>
                        <el-form-item label="Excel起始行">
                            <el-input-number v-model="editForm.excelStartRow" :min="0" size="small"></el-input-number>
                        </el-form-item>
                        <el-form-item label="标识字段组" prop="identifyColumn">
                            <el-input v-model="editForm.identifyColumn" auto-complete="off" size="small"></el-input>
                        </el-form-item>
                        <el-form-item label="Excel样例" prop="excelExample">
                            <el-input v-model="editForm.excelExample" auto-complete="off" size="small"></el-input>
                        </el-form-item>
                        <el-form-item label="分类" prop="categoryId">
                            <el-select v-model="editForm.categoryId" clearable placeholder="请选择">
                                <el-option
                                        v-for="item in excelCategoryList"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="排序">
                            <el-input-number v-model="editForm.orderValue" :min="0" size="small"></el-input-number>
                        </el-form-item>
                    </el-col>
                    <el-col :span="10">
                        <el-form-item label="支持全量导入">
                            <el-switch
                                    v-model="editForm.coverAll"
                                    active-color="#13ce66"
                                    inactive-color="#ff4949">
                            </el-switch>
                        </el-form-item>
                        <el-form-item label="支持覆盖导入">
                            <el-switch
                                    v-model="editForm.coverOld"
                                    active-color="#13ce66"
                                    inactive-color="#ff4949">
                            </el-switch>
                        </el-form-item>
                        <el-form-item label="支持追加导入">
                            <el-switch
                                    v-model="editForm.coverAppend"
                                    active-color="#13ce66"
                                    inactive-color="#ff4949">
                            </el-switch>
                        </el-form-item>
                        <el-form-item label="是否已经生成表" v-if="editMode">
                            <el-switch
                                    v-model="excelTemplateData.tableCreated"
                                    active-color="#13ce66"
                                    inactive-color="#ff4949"
                                    :disabled="true">
                            </el-switch>
                        </el-form-item>
                        <el-form-item label="生成表的时间" v-if="editMode">
                            <el-date-picker type="datetime"
                                            placeholder="选择日期和时间"
                                            :disabled="true"
                                            v-model="excelTemplateData.tableCreatedTime"
                                            size="small">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item label="创建人" v-if="editMode && excelTemplateData.creater != null">
                            <el-input v-model="excelTemplateData.creater.name" :disabled="true" size="small"></el-input>
                        </el-form-item>
                        <el-form-item label="创建时间" v-if="editMode">
                            <el-date-picker type="datetime"
                                            placeholder="选择日期和时间"
                                            :disabled="true"
                                            v-model="excelTemplateData.createTime"
                                            size="small">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item label="更新人" v-if="editMode && excelTemplateData.modifier != null">
                            <el-input v-model="excelTemplateData.modifier.name" :disabled="true" size="small"></el-input>
                        </el-form-item>
                        <el-form-item label="更新时间" v-if="editMode">
                            <el-date-picker type="datetime"
                                            placeholder="选择日期和时间"
                                            :disabled="true"
                                            v-model="excelTemplateData.updateTime" size="small">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-button type="success" icon="el-icon-plus" @click="addColumnClick">新增列</el-button>
                </el-row>
                <el-row>
                    <el-card class="box-card" v-for="(column, columnIndex) in editForm.columnList">
                        <div slot="header" class="clearfix">
                            <span>列{{columnIndex+1}}.{{column.columnId}} {{column.excelColumn}}</span>
                            <el-button style="float: right; padding: 3px 0" type="text" @click="deleteColumnClick(column.columnId)">删除</el-button>
                        </div>
                        <div class="text item">
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="列名" :rules="{
                                    required: true, message: '列名不能为空', trigger: 'blur'
                                    }" :prop="'columnList.' + columnIndex + '.excelColumn'">
                                        <el-input
                                                size="mini"
                                                placeholder="列名"
                                                v-model="column.excelColumn">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="是否可为空">
                                        <el-switch
                                                v-model="column.nullable"
                                                active-color="#13ce66"
                                                inactive-color="#ff4949">
                                        </el-switch>
                                    </el-form-item>
                                    <el-form-item label="是否标识">
                                        <el-switch
                                                v-model="column.identification"
                                                active-color="#13ce66"
                                                inactive-color="#ff4949">
                                        </el-switch>
                                    </el-form-item>
                                    <el-form-item label="时间格式">
                                        <el-input
                                                size="mini"
                                                placeholder="时间格式"
                                                v-model="column.timeFormat">
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="列类型" :rules="{
                                    required: true, message: '列类型不能为空', trigger: 'blur'
                                    }" :prop="'columnList.' + columnIndex + '.columnType'">
                                        <el-select v-model="column.columnType" clearable placeholder="请选择">
                                            <el-option
                                                    v-for="item in excelColumnType"
                                                    :key="item.value"
                                                    :label="item.label"
                                                    :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <el-form-item label="排序">
                                        <el-input-number
                                                size="mini"
                                                placeholder="排序"
                                                v-model="column.orderValue">
                                        </el-input-number>
                                    </el-form-item>
                                    <el-form-item label="最小值">
                                        <el-input
                                                size="mini"
                                                placeholder="最小值"
                                                v-model="column.minValue">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="开始">
                                        <el-date-picker type="datetime"
                                                        placeholder="开始时间"
                                                        v-model="column.startTime"
                                                        size="mini">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="8">
                                    <el-form-item label="数据库列名" :rules="[
                    {required: true, message: '数据库列名不能为空', trigger: 'blur'},
                    {
                        validator: function(rule, value, callback){
                            var reg = /\w[a-zA-Z0-9_]*/;
                            if (!value) {
                                return callback(new Error('此项不能为空'));
                            }
                            if(!reg.test(value)) {
                                return callback(new Error('只能是英文、数字、下划线组合'));
                            }
                            return callback();
                        },
                        trigger: 'blur'
                    }
                ]" :prop="'columnList.' + columnIndex + '.dbColumn'">
                                        <el-input
                                                size="mini"
                                                placeholder="数据库列名"
                                                v-model="column.dbColumn">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="长度">
                                        <el-input-number
                                                size="mini"
                                                placeholder="长度"
                                                v-model="column.columnLength">
                                        </el-input-number>
                                    </el-form-item>
                                    <el-form-item label="最大值">
                                        <el-input
                                                size="mini"
                                                placeholder="最大值"
                                                v-model="column.maxValue">
                                        </el-input>
                                    </el-form-item>
                                    <el-form-item label="结束">
                                        <el-date-picker type="datetime"
                                                        placeholder="结束时间"
                                                        v-model="column.endTime"
                                                        size="mini">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </div>
                    </el-card>
                </el-row>
            </el-form>
        </el-col>
    </el-row>

    <el-row type="flex" justify="center">
        <el-col :span="6">
            <el-button @click="editFormCancel">取消</el-button>
            <el-button type="primary" @click="editSubmit('editForm')" :loading="editLoading">提交</el-button>
            <el-button v-if="editMode" @click="createTableClick" type="warning">生成表</el-button>
        </el-col>
    </el-row>

</div>
<!-- UI界面 end -->

<script type="text/javascript">
    var excelTemplateEditView = new Vue({
        el: '#excelTemplateEditView',
        data: {
            editLoading:false,
            //表单验证规则
            editFormRules: {
                tableName: [
                    {required: true, message: '数据库表名不能为空', trigger: 'blur'},
                    {
                        validator: function(rule, value, callback){
                            var reg = /^tb_\w[a-zA-Z0-9_]*/;
                            if (!value) {
                                return callback(new Error('此项不能为空'));
                            }
                            if(!reg.test(value)) {
                                return callback(new Error('只能是以tb_下划线开头的英文、数字、下划线组合'));
                            }
                            return commonUtils.formRowIsExist('/api/admin/excel/excelTemplate/isExist.do','tableName',rule, value, callback);
                        },
                        trigger: 'blur'
                    }
                ],
                categoryId:[
                    {required: true, message: '分类不能为空', trigger: 'blur'},
                ],
            },
            //编辑界面数据
            editForm: {},
            //Excel模板数据
            excelTemplateData:{},
            //Excel模板分类数据
            excelCategoryList:[],
            //Excel列类型
            excelColumnType:[],
            //是否编辑模式
            editMode:true,
            editModeName:'编辑',
            //列ID
            columnIdIndex:1
        },
        //数据初始化
        created: function () {
            var _self = this;
            //根据Id,获取编辑的对象
            _self.loadExcelTemplate();
            //获取分类
            _self.loadCategory();
        },
        methods: {
            //是否具有权限
            hasRight: function(rightCode) {
                return commonUtils.hasRight(rightCode);
            },
            //保存事件
            editSubmit: function (formName) {
                var _self = this;
                _self.$refs[formName].validate(function(valid){
                    if (valid) {
                        //转换称时间戳
                        _self.editForm.createTime = commonUtils.toTimestamp(_self.editForm.createTime);//创建时间
                        _self.editForm.updateTime = commonUtils.toTimestamp(_self.editForm.updateTime);//更新时间
                        var columnList = _self.editForm.columnList;
                        if(columnList == null || columnList.length < 1) {
                            _self.$message.error("最少需要新增一列！");
                            return;
                        }
                        var submitParamObj = Object.assign({}, _self.editForm);
                        delete submitParamObj.columnList;
                        submitParamObj.columnJsonStr = JSON.stringify(columnList);
                        //保存异步提交
                        $.ajax({
                            method: "post",
                            url: '/api/admin/excel/excelTemplate/saveOrUpdate.do',
                            data: submitParamObj,
                            dataType: "json"
                        }).done(function (res, status, xhr) {
                            if (res.success) {
                                _self.$message.success(res.msg);//保存成功
                                window.location.href = "#/excelTemplate";//跳转到列表页面
                            } else {
                                _self.$message.error(res.msg);//提示错误
                            }
                            _self.loading = false;
                        });
                    } else{
                        _self.$message.error("请正确填写表单！");
                    }
                });
            },
            //取消事件
            editFormCancel: function () {
                window.location.href = "#/excelTemplate";//跳转到列表页面
            },
            //上传图片前的验证事件
            beforeAvatarUpload:function(file) {
                var _self = this;
                commonUtils.uploadImageCheck(file, _self);
            },
            //加载分类数据
            loadCategory:function() {
                var _self = this;
                //获取分类
                var paramData = {
                    pageSize: 100,
                    page: 1
                };
                $.ajax({
                    url: '/api/admin/excel/excelCategory/list.do',
                    data: paramData,
                    dataType: "json"
                }).done(function (res, status, xhr) {
                    if (res.success) {
                        _self.excelCategoryList = res.data.list;
                    } else {
                        _self.$message.error(res.msg);//提示错误
                    }
                });
                //获取列类型
                var cls = "excel_ExcelColumnType";
                $.ajax({
                    url: '/api/mis/getEnumType.do',
                    data: {cls: cls},
                    dataType: "json"
                }).done(function (res, status, xhr) {
                    if (res.success) {
                        _self.excelColumnType = res.data[cls];
                    } else {
                        _self.$message.error(res.msg);//提示错误
                    }
                });
            },
            //加载Excel模板数据
            loadExcelTemplate:function() {
                var _self = this;
                if(commonUtils.isEmpty(pageParam.id)) {
                    _self.editMode = false;
                    _self.editModeName = '新增';
                    _self.editForm = {
                        columnList:[],
                        excelName: '',		//Excel名称
                        tableName: 'tb_',		//数据库表名
                        excelSheetIndex: 1,		//Excel的sheet索引
                        excelStartRow: 2,		//Excel起始行
                        identifyColumn: '',		//标识字段组
                        excelExample: '',		//Excel样例
                        categoryId: '',		//分类
                        coverAll: false,//支持全量导入
                        coverOld: true,//支持覆盖导入
                        coverAppend: true,//支持追加导入
                        orderValue: 0//排序
                    };
                    //创建一列
                    var column = _self.crateColumn();
                    _self.editForm.columnList.push(column);
                    return;//id不存在时，是编辑界面
                }
                //根据Id,获取编辑的对象
                $.ajax({
                    url: '/api/admin/excel/excelTemplate/getDetails.do',
                    data:{id:pageParam.id},
                    dataType: "json"
                }).done(function (res) {
                    if (res.success) {
                        if(res.data == null || res.data.excelTemplate == null) {
                            _self.$message.error("数据不存在");
                            return;
                        }
                        var excelTemplate = res.data.excelTemplate;
                        var columnList = res.data.columnList;
                        if(columnList) {
                            var columnId = _self.columnIdIndex;
                            for(var i=0; i<columnList.length; i++) {
                                var orderValue = columnList[i].orderValue;
                                columnList[i].columnId=orderValue;
                                if(columnId < orderValue)
                                    columnId = orderValue;
                            }
                            _self.columnIdIndex = columnId + 1;
                        }
                        _self.editForm = {
                            columnList:columnList,
                            id:excelTemplate.id,
                            excelName: excelTemplate.excelName,		//Excel名称
                            tableName: excelTemplate.tableName,		//数据库表名
                            excelSheetIndex: excelTemplate.excelSheetIndex,		//Excel的sheet索引
                            excelStartRow: excelTemplate.excelStartRow,		//Excel起始行
                            identifyColumn: excelTemplate.identifyColumn,		//标识字段组
                            excelExample: excelTemplate.excelExample,		//Excel样例
                            categoryId: excelTemplate.category.id,		//分类
                            coverAll: excelTemplate.coverAll,//支持全量导入
                            coverOld: excelTemplate.coverOld,//支持覆盖导入
                            coverAppend: excelTemplate.coverAppend,//支持追加导入
                            orderValue: excelTemplate.orderValue//排序
                        };
                        _self.excelTemplateData = excelTemplate;
                    } else {
                        _self.$message.error(res.msg);//提示错误
                    }
                });
            },
            //新增列
            addColumnClick:function(){
                var _self = this;
                var column = _self.crateColumn();
                _self.editForm.columnList.push(column);
            },
            crateColumn:function() {
                var columnId = this.columnIdIndex;
                var column = {
                    columnId:columnId,
                    excelColumn:'',
                    dbColumn:'',
                    columnType:'Varchar',
                    columnLength:50,
                    nullable:true,
                    identification:false,
                    startTime:'',
                    endTime:'',
                    minValue:'',
                    maxValue:'',
                    orderValue:columnId,
                    timeFormat:'yyyy-MM-dd HH:mm:ss'
                };
                this.columnIdIndex++;
                return column;
            },
            //删除列
            deleteColumnClick:function(columnId) {
                var columnList = this.editForm.columnList;
                var columnIndex = -1;
                for (var i = 0; i < columnList.length; i++) {
                    if (columnList[i].columnId == columnId)
                        columnIndex = i;
                }
                if (columnIndex > -1) {
                    columnList.splice(columnIndex, 1);
                    this.editForm.columnList = columnList;
                }
            },
            createTableClick:function() {
                var _self = this;
                var template = _self.excelTemplateData;
                var createdMsg = "生成";
                if(template.tableCreated) {
                    createdMsg = "【删除旧表和数据】，重新生成";
                }
                createdMsg += template.excelName + "对应的表" + template.tableName;
                _self.$confirm('确认在数据库' + createdMsg + '吗?', '提示', {
                    type: 'warning'
                }).then(function () {
                    //删除记录
                    $.ajax({
                        url: '/api/admin/excel/excelTemplate/createTable.do',
                        data: {id: template.id},
                        dataType: "json"
                    }).done(function (res) {
                        if (res.success) {
                            _self.$message({
                                message: createdMsg + '成功！',
                                type: 'success'
                            });
                            _self.loadExcelTemplate();//重新加载数据
                        } else {
                            _self.$message.error(res.msg);//提示错误
                        }
                    });
                }).catch(function (e) {
                    if (e != "cancel")
                        console.log("出现错误：" + e);
                });
            }
        }
    });
</script>
