<!-- 
	Desc: 	常见问题的新增界面
	Author: xiaocheng
	Date: 	2018年06月16日 18:06:42
-->

<!-- UI界面 start -->
<div id="commonQuestionAddView">
    <el-row>
        <h3><i class="el-icon-edit"></i> <a href="#/commonQuestion">常见问题管理</a> / 新增</h3>
    </el-row>
    <!--编辑界面-->
    <el-row type="flex" justify="center">
        <el-col :span="22">
            <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
				<!--id不需要-->
				<el-form-item label="实体ID">
                    <el-input-number v-model="editForm.entityId" :min="0" size="small" :disabled="true"></el-input-number>
                </el-form-item>
                <el-form-item label="实体编码" prop="entityCode">
                    <el-input v-model="editForm.entityCode" auto-complete="off" size="small" :disabled="true"></el-input>
                </el-form-item>
                <el-form-item label="问题" prop="question">
                    <el-input v-model="editForm.question" auto-complete="off" size="small"></el-input>
                </el-form-item>
				<el-form-item label="答案">
                    <el-input type="textarea" v-model="editForm.answer" size="small"></el-input>
                </el-form-item>
				<el-form-item label="排序">
                    <el-input-number v-model="editForm.orderValue" :min="0" size="small"></el-input-number>
                </el-form-item>
				<!--createTime不需要-->
				<!--updateTime不需要-->
            </el-form>
        </el-col>
    </el-row>

    <el-row type="flex" justify="center">
        <el-col :span="6">
            <el-button @click="editFormCancel" size="small">取消</el-button>
            <el-button type="primary" @click="editSubmit('editForm')" :loading="editLoading" size="small">提交</el-button>
        </el-col>
    </el-row>

</div>
<!-- UI界面 end -->

<script type="text/javascript">
    $.getScript('/res/js/mis/common/commonQuestion/commonQuestionForm.js', function () {
        var commonQuestionAddView = new Vue({
            el: '#commonQuestionAddView',
            data: CommonQuestionFromCommon.data,
            //数据初始化
            created: function () {
                var _self = this;
                //获取下拉框选项
                CommonQuestionFromCommon.loadSelect(_self);
                _self.editForm = Object.assign({}, CommonQuestionFromCommon.defaultModel);
            },
            methods: {
                //是否具有权限
                hasRight: function(rightCode) {
                    return commonUtils.hasRight(rightCode);
                },
                //保存事件
                editSubmit: function (formName) {
                    var _self = this;
                    _self.$refs[formName].validate(function(valid){
                        if (valid) {
                            CommonQuestionFromCommon.saveAction(_self);
                        } else{
                            _self.$message.error("请正确填写表单！");
                        }
                    });
                },
                //取消事件
                editFormCancel: function () {
                    CommonQuestionFromCommon.cancelAction(this);
                },
                //上传图片前的验证事件
                beforeAvatarUpload:function(file) {
                    var _self = this;
                    commonUtils.uploadImageCheck(file, _self);
                }
            }
        });
    });
</script>
